@import url(tabs.css);

div.student span.col,div.student span.head {
  overflow:hidden;
  display:block;
  float:left;
}

div.student span.head {
  text-align:center;
  font-weight:bold;
}

div.student span.head.closed {
  color:#aaa;
}

div.student span.problem {
  width:35%;
}

div.student span.delete {
  width:5%;
}

div.student span.col input,div.student span.col select {
  width:80%;
  background-color:#fff;
}

div.student span.col div.extra {
  display:none;
}

div.student div.inter {
  clear:left;
  width:100%;
  font-weight:bold;
  text-align:center;
  background-color:#999;
  color:white;
}

div.student ol {
  margin-left:0;
  padding-left:0;
  margin-top:0;
}

div.goals,div.problems {
 
	padding-left: 5px;
  padding-top:5px;;
  margin-bottom: 17px;
}

div.goals {
	float: left;
}

div.student div.problems li,div.student div.goals li, div.problemsListCategorize li {
  width:100%;
  display:block;
 
  list-style-type:none;
  margin-bottom: 2px;
  
}

div.problemsListCategorize a.create {
	display: none;
}

div.problemsListCategorize {
	padding-left: 5px;
}
div.problemsListCategorize li {
	height: 40px;
	font-weight: bold;
}

div.student a.create {

}

div.problemsListCategorize select, div.selectTroublesSpacer {
	float: left;
	width: 222px;
	margin-bottom: 5px;
	
}

div.selectTroublesSpacer {
	height: 20px;
}

div.problemItemCategories {
	display: block;
	
	margin-top: 2px;
	
}

div.problems.stage3 .list .mm_check_error {
  display:none;
}

div.problems.stage3 h4 {
  float:left;
  display:block;
  margin-right:15px;
  font-size:1em;
  font-weight:bold;
}

div.problems.stage3 .list ol li input,div.problems.stage3 .list ol li select {
	clear: left;
}

div.problems .mm_f_name,div.goals .mm_f_name {
	background-color: white;
  width:440px;
 	
}

div.problems.stage3 .mm_f_name {
  width:250px;
}

div.problems.stage3 .mm_f_type {
  width:100px;
}

div.problems.stage3 .mm_dt_didactor_assessment_troubles {
  width:100px;
}

.learnblockItems, .learnblockItemsTitle {
  width:55px;
}

.problemName {
  width:200px;
  padding-left: 5px;
}

.learnblockItemsTitle {
  font-weight:bold;
}

.problemItem {
  border-bottom:solid 2px white;
}

.problemTypeSpacer {
  height:30px;
}

h4.learnblockItems {
  font-weight:bold;
}

td.problemHeader {
	width: 400px;
}

td.problemTypes {
  font-weight: bold;
  
}

.closelesson input.formbutton {
  width: 300px!important;
}

.mm_dt_didactor_assessment_troubles {
  float:left;
  width:100px;
  margin-right:10px;
  font-size:1em;
}

.mm_dt_didactor_assessment_troubles select {
  margin-bottom:30px;
}

.problems form .formbutton {
  display: none;
}

.problemImpact {
  margin-bottom:30px;
}
