@import url(tabs.css);

div.student span.col,
div.student span.head {
  overflow: hidden;
  display: block;
  float: left;

}
div.student span.head {
  text-align: center;
  font-weight: bold;
}
div.student span.head.closed {
  color: #aaa;
}
div.student span.problem {
  width: 35%;
}
div.student span.delete {
  width: 5%;
}
div.student span.col input,
div.student span.col select {
  width: 80%;
  background-color: #fff;
}
div.student span.col div.extra {
  display: none;
}

div.student div.inter {
  clear: left;
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: #999;
  color: white;
}

div.student ol {
  margin-left: 0px;
  padding-left: 0px;
}
div.student div.problems {
  

}
div.student div.problems li, div.student div.goals li {
  width: 100%;
  display: block;
  float: left;
  clear: left;
  list-style-type: none;
  border: solid 1px white;
}

div.student a.create {
  float: left;
  clear: left;
}


div.problems.stage3 .list .mm_check_error {
  display: none;

}
div.problems.stage3 h4 {
  float: left;
  display: block;
  margin-right: 10px;
  font-size:1em;

}
div.problems.stage3 .list ol li input,
div.problems.stage3 .list ol li select {
  float: left;
  display: block;
  margin-right: 10px;
}

div.problems .mm_f_name, div.goals .mm_f_name {
	width: 475px;
}

div.problems.stage3 .mm_f_name {
  width: 250px;
}
div.problems.stage3 .mm_f_type {
  width: 100px;
}
div.problems.stage3 .mm_dt_didactor_assessment_troubles {
  width: 100px;
}

.closelesson input.formbutton {
	widht: 200px !important;
}

.mm_dt_didactor_assessment_troubles {
	float: left;
	width: 100px;
	margin-right: 10px;
	font-size: 1.0em;
	
	
}

.mm_dt_didactor_assessment_troubles select {
		margin-bottom: 30px;
}

.problemImpact {
	margin-bottom: 30px;
}

