body.assessment span.col,
body.assessment span.head {
  overflow: hidden;
  display: block;
  float: left;

}
body.assessment span.head {
  text-align: center;
  font-weight: bold;
}
body.assessment span.problem {
  width: 35%;
}
body.assessment span.delete {
  width: 5%;
}
body.assessment span.col input,
body.assessment span.col select {
  width: 80%;
  background-color: #fff;
}
body.assessment span.col div.extra {
  display: none;
}

body.assessment div.inter {
  clear: left;
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: #999;
  color: white;
}

body.assessment ol {
  margin-left: 0px;
  padding-left: 0px;
}
body.assessment div.problems {
  background-color: #eee;

}
body.assessment div.problems li {
  width: 100%;
  display: block;
  float: left;
  clear: left;
  list-style-type: none;
  border: solid 1px white;
}

body.assessment a.create {
  float: left;
  clear: left;
}
