@import url(tabs.css);

div.student span.col,
div.student span.head {
  overflow: hidden;
  display: block;
  float: left;

}
div.student span.head {
  text-align: center;
  font-weight: bold;
}
div.student span.head.closed {
  color: #aaa;
}
div.student span.problem {
  width: 35%;
}
div.student span.delete {
  width: 5%;
}
div.student span.col input,
div.student span.col select {
  width: 80%;
  background-color: #fff;
}
div.student span.col div.extra {
  display: none;
}

div.student div.inter {
  clear: left;
  width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: #999;
  color: white;
}

div.student ol {
  margin-left: 0px;
  padding-left: 0px;
}
div.student div.problems {
  background-color: #eee;

}
div.student div.problems li {
  width: 100%;
  display: block;
  float: left;
  clear: left;
  list-style-type: none;
  border: solid 1px white;
}

div.student a.create {
  float: left;
  clear: left;
}


