.jforum INPUT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.jforum TEXTAREA {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.jforum SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.jforum INPUT {
	TEXT-INDENT: 2px
}
.jforum INPUT.button {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.jforum .postbody {
	LINE-HEIGHT: 18px
}

.jforum BODY {
	background-color: #E5E5E5;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}
.jforum FONT {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.jforum TH {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.jforum TD {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.jforum P {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.jforum A:link {
	COLOR: #01336b; text-decoration: none;
}
.jforum A:active {
	COLOR: #01336b
}
.jforum A:visited {
	COLOR: #01336b; text-decoration: none;
}
.jforum A:hover {
	COLOR: #01336b; TEXT-DECORATION: underline
}
.jforum HR {
	BORDER-RIGHT: #dfdfdf 0px solid; BORDER-TOP: #dfdfdf 1px solid; BORDER-LEFT: #dfdfdf 0px solid; BORDER-BOTTOM: #dfdfdf 0px solid; HEIGHT: 0px
}
.jforum .bodyline {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
.jforum .forumline {
	BORDER-RIGHT: #006699 2px solid; BORDER-TOP: #006699 2px solid; BORDER-LEFT: #006699 2px solid; BORDER-BOTTOM: #006699 2px solid; BACKGROUND-COLOR: #ffffff
}
.jforum TD.row1 {
	BACKGROUND-COLOR: #fafafa
}
.jforum TD.row2 {
	BACKGROUND-COLOR: #f7f7f8
}
.jforum TD.row3 {
	BACKGROUND-COLOR: #dfdfdf
}
.jforum TD.rowpic {
	BACKGROUND-IMAGE:  url(images/cellpic2.jpg); BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff
}
.jforum TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE:  url(images/cellpic3.gif); COLOR: #ffa34f; HEIGHT: 25px; BACKGROUND-COLOR: #01336b
}
.jforum TD.cat {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BACKGROUND-IMAGE:  url(images/cellpic1.gif); BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px; BACKGROUND-COLOR: #dfdfdf
}
.jforum TD.cathead {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BACKGROUND-IMAGE:  url(images/cellpic1.gif); BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px; BACKGROUND-COLOR: #dfdfdf
}
.jforum TD.catsides {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BACKGROUND-IMAGE:  url(images/cellpic1.gif); BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px; BACKGROUND-COLOR: #dfdfdf
}
.jforum TD.catleft {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BACKGROUND-IMAGE:  url(images/cellpic1.gif); BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px; BACKGROUND-COLOR: #dfdfdf
}
.jforum TD.catright {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BACKGROUND-IMAGE:  url(images/cellpic1.gif); BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px; BACKGROUND-COLOR: #dfdfdf
}
.jforum TD.catbottom {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BACKGROUND-IMAGE:  url(images/cellpic1.gif); BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px; BACKGROUND-COLOR: #dfdfdf
}
.jforum TD.cat {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
.jforum TD.cathead {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
.jforum TD.catbottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
.jforum TH.thhead {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
.jforum TH.thsides {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
.jforum TH.thtop {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
.jforum TH.thleft {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
.jforum TH.thright {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
.jforum TH.thBottom {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
.jforum TH.thcornerl {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
.jforum TH.thcornerr {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
.jforum TD.row3Right {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; BACKGROUND-COLOR: #dfdfdf
}
.jforum TD.spacerow {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; BACKGROUND-COLOR: #dfdfdf
}
.jforum TH.thhead {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.jforum TD.cathead {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.jforum TH.thsides {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.jforum TD.catsides {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.jforum TD.spacerow {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.jforum TH.thright {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.jforum TD.catright {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.jforum TD.row3Right {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.jforum TH.thleft {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.jforum TD.catleft {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.jforum TH.thbottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.jforum TD.catbottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.jforum TH.thtop {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.jforum TH.thcornerl {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.jforum TH.thcornerr {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.jforum .maintitle {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.jforum .gen {
	FONT-SIZE: 12px
}
.jforum .genmed {
	FONT-SIZE: 11px
}
.jforum .gensmall {
	FONT-SIZE: 10px
}
.jforum .gen {
	COLOR: #000000
}
.jforum .genmed {
	COLOR: #000000
}
.jforum .gensmall {
	COLOR: #000000
}
.jforum A.gen {
	COLOR: #01336b; TEXT-DECORATION: none
}
.jforum A.genmed {
	COLOR: #01336b; TEXT-DECORATION: none
}
.jforum A.gensmall {
	COLOR: #01336b; TEXT-DECORATION: none
}
.jforum A.gen:hover {
	COLOR: #01336b; TEXT-DECORATION: underline
}
.jforum A.genmed:hover {
	COLOR: #01336b; TEXT-DECORATION: underline
}
.jforum A.gen:visited {
	text-decoration: none;
}
.jforum A.gensmall:visited {
	text-decoration: none;
}
.jforum A.gensmall:hover {
	COLOR: #01336b; TEXT-DECORATION: underline
}
.jforum .mainmenu {
	FONT-SIZE: 11px; COLOR: #000000
}
.jforum A.mainmenu {
	COLOR: #01336b; TEXT-DECORATION: none
}
.jforum A.mainmenu:hover {
	COLOR: #01336b; TEXT-DECORATION: underline
}
.jforum .cattitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #01336b; LETTER-SPACING: 1px
}
.jforum A.cattitle {
	COLOR: #01336b; TEXT-DECORATION: none
}
.jforum a.cattitle:visited {
	text-decoration: none;
}
.jforum A.cattitle:hover {
	TEXT-DECORATION: underline
}
.jforum .forumlink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #01336b
}
.jforum A.forumlink {
	COLOR: #01336b; TEXT-DECORATION: none
}
.jforum a.forumlink:visited {
	text-decoration: none;
}
.jforum A.forumlink:hover {
	COLOR: #01336b; TEXT-DECORATION: underline
}
.jforum .nav {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
.jforum A.nav {
	COLOR: #01336b; TEXT-DECORATION: none
}
.jforum A.nav:visited {
	text-decoration: none;
}
.jforum A.nav:hover {
	TEXT-DECORATION: underline
}
.jforum .topictitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
.jforum H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
.jforum H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
.jforum A.topictitle:link {
	COLOR: #01336b; TEXT-DECORATION: none
}
.jforum A.topictitle:visited {
	COLOR: #01336b; TEXT-DECORATION: none
}
.jforum A.topictitle:hover {
	COLOR: #01336b; TEXT-DECORATION: underline
}
.jforum .name {
	FONT-SIZE: 11px; COLOR: #000000
}
.jforum .postdetails {
	FONT-SIZE: 10px; COLOR: #000000
}
.jforum .postbody {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
.jforum A.postlink:link {
	COLOR: #01336b; TEXT-DECORATION: none
}
.jforum A.postlink:visited {
	COLOR: #01336b; TEXT-DECORATION: none
}
.jforum A.postlink:hover {
	COLOR: #01336b; TEXT-DECORATION: underline
}
.jforum .code {
	FONT-SIZE: 11px; COLOR: #444444; FONT-FAMILY: Courier, 'Courier New', sans-serif
}
.jforum .quote {
	FONT-SIZE: 11px; COLOR: #444444; LINE-HEIGHT: 125%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.jforum .copyright {
	FONT-SIZE: 10px; COLOR: #444444; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: -1px
}
.jforum A.copyright {
	COLOR: #444444; TEXT-DECORATION: none
}
.jforum A.copyright:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.jforum INPUT {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; FONT: 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}
.jforum TEXTAREA {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; FONT: 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}
.jforum SELECT {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; FONT: 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}
.jforum INPUT.post {
	BACKGROUND-COLOR: #ffffff
}
.jforum TEXTAREA.post {
	BACKGROUND-COLOR: #ffffff
}
.jforum SELECT {
	BACKGROUND-COLOR: #ffffff
}
.jforum INPUT {
	TEXT-INDENT: 2px
}
.jforum INPUT.button {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fafafa
}
.jforum INPUT.mainoption {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #fafafa
}
.jforum INPUT.liteoption {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #fafafa
}
.jforum .helpline {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #f7f7f8; BORDER-BOTTOM-STYLE: none
}
