<?xml version="1.0" encoding="UTF-8"?>

<beans default-autowire="byName"
        xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

  <!-- Configurer that replaces ${...} placeholders with values from a properties file -->
  <context:property-placeholder location="classpath:spring-community.properties"/>
  
  <!-- Post-processors for all standard config annotations (for @Required) -->
  <context:annotation-config />

  <!-- DriverManagerDataSource is a local DataSource that works in any environment (for testing)
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
      p:driverClassName="${jdbc.driverClassName}"
      p:url="${jdbc.url}"
      p:username="${jdbc.username}"
      p:password="${jdbc.password}"/>
 -->
  <!-- JNDI DataSource 
  -->
  <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/Community"/>

  <!-- Hibernate SessionFactory -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.dialect">${hibernate.dialect}</prop>
        <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
        <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
        <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
      </props>
    </property>
    <property name="annotatedClasses">
      <list>
        <value>com.finalist.cmsc.services.community.security.Authentication</value>
        <value>com.finalist.cmsc.services.community.security.Authority</value>
        <value>com.finalist.cmsc.services.community.security.Permission</value>
        <value>com.finalist.cmsc.services.community.person.Person</value>
        <value>com.finalist.cmsc.services.community.preferences.Preference</value>
      </list>
    </property>
  </bean>
  
  <!-- TransactionManager -->
  <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager" 
      p:sessionFactory-ref="sessionFactory"/>

  <!-- Instruct Spring to perform declarative transaction management automatically on annotated classes. -->
  <tx:annotation-driven transaction-manager="transactionManager"/>


  <!-- Services -->
  <bean name="userDetailsService" class="com.finalist.cmsc.services.community.security.UserDetailsHibernateService" /> 
  <bean name="authenticationService" class="com.finalist.cmsc.services.community.security.AuthenticationHibernateService" />
  <bean name="authorityService" class="com.finalist.cmsc.services.community.security.AuthorityHibernateService" />
  <bean name="preferenceService" class="com.finalist.cmsc.services.community.preferences.PreferenceHibernateService" />
  <bean name="personService" class="com.finalist.cmsc.services.community.person.PersonHibernateService" />

   <!-- Actions -->
   <bean name="/editors/community/PreferenceAction" class="com.finalist.cmsc.community.forms.PreferenceAction">
      <property name="preferenceService" ref="preferenceService"/>
   </bean>

   <bean name="/editors/community/ReferenceImportExportAction"
         class="com.finalist.cmsc.community.forms.ReferenceImportExportAction">
      <property name="personService" ref="personService"/>
   </bean>

   <bean name="/editors/community/SearchConditionalUser"
         class="com.finalist.cmsc.community.forms.SearchConditionalUserAction">
      <property name="personService" ref="personService"/>
      <property name="authenticationService" ref="authenticationService"/>
      <property name="authorityService" ref="authorityService"/>
   </bean>

   <import resource="spring-security.xml"/>
   <!-- Services Holder-->
   <bean id="contextHolder" class="com.finalist.cmsc.services.community.ApplicationContextFactory"/>
</beans>
