/**

  Editwizard cascading style sheet.

  @author Nico Klasens
*/

@import url("base.css");

body {         
        color: #062A4A;
        background-color: #97b7c8;
        margin: 0px 0px 0px 0px;
} 

tr.searchcanvas,
tr.listcanvas,
tr.pagescanvas,
tr.buttoncanvas,
tr.linkcanvas {
   border-color: #cccccc;
   background-color: #FFFFFF;
}

table.searchcontent,
table.listcontent {
	border-color: #333333;
	background-color: #FFFFFF;
}

tr.listheader {
	background-color: #97b7c8;
	color: #FFFFFF;
}

.itemrow-hover {
	 background-color: #f1f400;
}

tr.even  {         
        color: #000000;
       background-color: #d1dbe1;
} 
 
tr.odd  {         
        color: #000000;
        background-color: #ffffff
}

tr.odd:hover
{         
        background-color: #f1f400;
} 

tr.even:hover
{         
        background-color: #f1f400;
} 

/* if permission to edit is lacking, the row is 'disabled' */
.itemrow-disabled {
  color: #CCCCCC;
}

td.deletebutton {
	width: 16px;
}

table a.imgbuttonremove
{
	float: left;
	width: 16px;
	height: 23px;
	background-image: url('../../../gfx/button_delete.gif');
}

table a.imgbuttonremove:hover
{
	float: left;
	width: 16px;
	height: 23px;
	background-image: url('../../../gfx/button_delete_active.gif');
}

table a.expand_button:visited,
table a.expand_button
{
	color: #313728;
	font-size: 11px;
	font-weight: bold;
	background-image: url('../../../gfx/button_expand.gif');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 15px;
	text-decoration: none;
	height: 11px;
}


table a.expand_button:hover,
table a.expand_button:active
{
  	color: #313728;
	font-size: 11px;
	font-weight: bold;
	background-image: url('../../../gfx/button_expand.gif');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 15px;
	height: 11px;
    text-decoration: underline;
}
