/**

  Editwizard cascading style sheet.

  The following is used in searchlist.
  Search-lists are those things that pop-up if you want to search for a node to make a relation to.
  Here you can customize how they must look like.
*/ 

@import url("base.css");

body {         
        color: #062A4A;
        background-color: #97b7c8;
        margin: 0px 0px 0px 0px;
} 
table.searchresult  {  
        font-size: 11px;
        font-weight: normal;
        padding: 2px;
        text-align: left;
        vertical-align: top;
        
        width: 100%;
        
} 

table.searchresult tr.even  {         
        color: #000000;
       background-color: #d1dbe1;
} 
 
table.searchresult tr.odd  {         
        color: #000000;
        background-color: #ffffff
} 

table.searchresult tr.odd:hover
{         
        background-color: #f1f400;
} 

table.searchresult tr.even:hover
{         
        background-color: #f1f400;
} 

table.searchresult tr.selected-even td  {         
        color: #000000;
        background-color: #f1f400;
} 

table.searchresult tr.selected-odd td  {         
        color: #000000;
        background-color: #f1f400;
} 

input.button  {         
        color: #FFFFFF;
        background-color: #4A7BA5;
        border-top-color: #FFFFFF;
        border-right-color: #000000;
        border-bottom-color: #000000;
        border-left-color: #FFFFFF;
}

div.page_buttons
{
	width: 100%;
	background-image: url('../../../gfx/tab_2_left.gif');
	background-repeat: no-repeat;
	height: 39px;
	float: top;
	background-color: #ffffff;	
}

div.page_buttons div.begin
{
	background-image: url('../../../gfx/tab_2_right.gif');
	background-repeat: no-repeat;
	height: 39px;
	width: 9px;
	float: right;
}

div.page_buttons div.button
{
	background-image: url('../../../gfx/tab_2_left.gif');
	background-repeat: no-repeat;
	background-position: top left;
	height: 39px;
	float: right;
	border-style: none none none solid;
	border-width: 1px;
	border-color: #97b7c8;

}

div.page_buttons div.button div.button_body
{
	background-image: url('../../../gfx/tab_2_right.gif');
	background-repeat: no-repeat;
	background-position: top right;
	height: 39px;
	float: left;	
}

div.page_buttons div.button div.body_last
{
	background-image: url('../../../gfx/tab_2_end.gif');
	background-repeat: no-repeat;
	background-position: top right;
	height: 39px;
	float: left;		
}

div.page_buttons div.button div.button_body a,
div.page_buttons div.button div.body_last a
{
	float: left;
	margin: 10px;
	color: #313728;
	font-size: 13px;	
	display: inline;
}

/* buttons hovers */
div.page_buttons div.button:hover
{
	background-image: url('../../../gfx/tab_2_active_left.gif');
	background-repeat: no-repeat;
	background-position: top left;
	height: 39px;
	float: right;
	border-style: none none none solid;
	border-width: 1px;
	border-color: #97b7c8;
	background-color: #f1f400;
	cursor: hand;
	cursor: pointer;
}

div.page_buttons div.button:hover div.button_body
{
	background-image: url('../../../gfx/tab_2_active_right.gif');
	background-repeat: no-repeat;
	background-position: top right;
	height: 39px;
	float: left;	
}

div.page_buttons div.button:hover div.body_last
{
	background-image: url('../../../gfx/tab_2_active_end.gif');
	background-repeat: no-repeat;
	background-position: top right;
	height: 39px;
	float: left;		
}

div.page_buttons div.button:hover div.button_body a,
div.page_buttons div.button:hover div.body_last a
{
	float: left;
	margin: 10px;
	color: #313728;
	font-size: 13px;	
	display: inline;
}
div.page_buttons_seperator
{
	background-image: url('../../../gfx/edit_shadow_2.gif');
	background-repeat: repeat-y;
	background-position: top right;	
	height: 10px;
	background-color: #ffffff;
	
	float: left;
	clear: both;
	width: 100%;
	height: 2px;
}

div.page_buttons_seperator div
{
	color: #97b7c8;
	border-width: 1px;
	border-style: solid none none none;
	border-color: #97b7c8;
	margin-right: 5px;
	margin-left: 2px;
}