body  {         
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin: 10px 10px 0px 10px;
  overflow: auto;
} 

h1, h2, h3, h4, h5, h6  {         
        padding-left: 3px;
        text-align: left;
        font-weight: bold; 
}
h1  {         
        font-size: 20px;
}


div.topmenu_search {
	position: absolute;
	right: 205px;
	top: 22px;
	z-index: 100;
}
span.topmenu_item {
	width: 150px;
}

a.topmenu:active {
  color: rgb(0,0,0);
  text-decoration: none;
  text-align: center;
}

a.topmenu:hover {
 text-decoration: underline;
}

a.topmenu {
  padding: 0px 3px;
}

div.topmenu_userinfo {
	position: absolute;
	right: 5px;
	top:22px;
	z-index: 100;
}


/* tab navigation */
/* -------------------------------------------------------------------------- */
body.topbody {
	color: #062A4A;
	background-color: #FFFFFF;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

#cnav {
	position: absolute;
	left: 15px;
	bottom: 0px;
	width: 800px;
	height: 20px;
	background-image: url(img/topmenu/line_grey.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#cnav div {
	position:relative;
	float:left;
	margin-left:-15px;
	z-index:1;
	padding-left:15px;
	background-image:url(img/topmenu/bg_tab_l.gif);
	background-repeat:no-repeat;
	font-weight:normal;
	font-size:10px;
}
#cnav div span {
	display:block;
	padding:3px 29px 5px 0px;
	background-image:url(img/topmenu/bg_tab_r.gif);
	background-repeat:no-repeat;
	background-position:right top;
}
#cnav div.active {
	background-image:url(img/topmenu/bg_tab_l_ac.gif);
	padding-left:13px;
	color:#ff0000;
	z-index:100;
}
#cnav div.active span {
	padding:4px 13px 4px 0px;
	background-image:url(img/topmenu/bg_tab_r_ac.gif);
}
#cnavtab1 {z-index:10;margin-left:1px;}
#cnavtab2 {z-index:9;}
#cnavtab3 {z-index:8;}
#cnavtab4 {z-index:7;}
#cnavtab5 {z-index:6;}
#cnavtab6 {z-index:5;}
#cnavtab7 {z-index:4;}
#cnavtab8 {z-index:3;}
#cnavtab9 {z-index:2;}
#cnavtab10 {z-index:1;}

.headerlink:link, .headerlink:visited {
   color: white;
}