/*
 * Unfortunately not *everything* can be fixed browser-compatibly in just 
 * one stylesheet. This file is only included in Internet Explorer through
 * conditional comments.
 */
ul
{
  /* 
   * there is a difference between IE and other browsers in the amount of 
   * pixels between the content and the bullet. 16px works in IE, but
   * is slightly different (4px) in other browsers.
   */
  margin-left: 16px;
}

/* 
 * Another weird explorer bug on the landingpage. For some reason this div
 * does not get a layout (google: hasLayout) on the landingspage. We need
 * to set some dummy attributes to make sure it actually gets a layout so
 * that the background gets picked up on. 
 */
#background
{
  width: 100%;
  min-height: 1px;
}
/*
 * IE has some serious issues with the vertically aligning images.
 */
#form .time
{
  width: 66px;
}
#form select
{
  width: 194px;
}
#main {
	word-wrap: break-word;
}