@import url(layout.css);

html, body.portal {
    background-color: #2e72f8;
    background-image: url("bg_body.gif");
}

div.x1 {
    background-color: #2e72f8;
}

div.x1 div.menu {
    background-color: #e2641b;
}

div.x3 {
    background-color: #2e72f8;
    
}

div.column h1 {
    color: white;
    background-image: url("bg_title.jpg");
    background-repeat: no-repeat;
    background-color: #dc6f8c;

}