@import url(layout.css);

html, body.portal {
  background-color: white;
  font-family:Tahoma,Arial,Verdana,sans-serif;
}

div.x1, div.x3 { 
  width: 33%;
  background-color: #ddd;
}
div.x1 { 
  margin-left: 0px;
}
div.x3 { 
  margin-right: 0px;
} 
div.x2 {
  padding-left: 33%;
  padding-right: 33%;
  background-color: #eee;
}
div.column h1 { 
  white-space: nowrap;
  font-size: larger;
}
div.x1 h1, div.x3 h1 { 
  background-color: #ed2e11;
}
div.x2 h1 { 
  background-color: #f7931b;  
}