html, body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.educationMenubar {
  display: none;
}

.article {
  /*
     IE6 Peek-a-boo bug:
     http://www.dracos.co.uk/code/ie6-css-bug/
     */
  line-height: 1.1;
}

div.column {
  vertical-align: top;
  margin-top: 0ex;
}



div.x1  {
  position:absolute;
  width: 200px;
  margin-left:6px;
  /*
     IE double margin bug:
     http://www.gigadesign.be/?p=99
     */
  display: inline;
  height: 300px;

}

div.ie_sucks_horribly {
  display: block;
  margin: 0;
}

div.x2 {
  /*border-left: 212px solid #679bff;*/
  margin-left: 212px;
  padding-right: 232px;
  z-index: 100;
}
div.x2 .article {
  margin-left: 0px;

}

div.x3 {
  float: right;
  width: 220px;
  margin-right: 6px;
  display: inline; /* double margin bug */
}

div.column * {
  margin-left: 1ex;
}
div.column ul {
  margin-left: 0ex;
  padding-left: 15px;
}

div.column h1 {
  font-size: normal;
  padding-left: 1ex;
  padding-right: 1ex;
  margin-left: 0ex;
  margin-top: 0px;
  margin-bottom: 0px;
}
div.column div {
  margin-top: 10px;
  margin-left: 0ex;
}

div.column div h1 {
  margin-top: 0px;
}

.article .intro {
  display: block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 100%;
}
.article img {
  float: right;
  padding: 0 0 0 0;
}

.article hr {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  margin-top: 1ex;
  visibility: hidden;
  clear: both;
}

.portal p, .portal h2, .portal ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 4px;

}

p.noaccount {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.portal .login p {
  padding-bottom: 0px;
}

.portal .banner {
  background-color: transparent;
}
.portal .banner a,
.portal .banner img {
  margin: 0 0 0 0;
  margin-bottom: 15px;
  padding: 0 0 0 0;
  border: none;
  background-color: transparent;


}
.portal a.navigate {
  margin-top: 1ex;
  display: block;
}
