
div.x1 {
    float: left;
    width: 200px;
}

div.x2 {
    padding-left: 220px;
    padding-right: 240px;
}

div.x3 {
    float: right;
    width: 220px;    
}

div.column h1 {
    padding-left: 1ex;
    padding-right: 1ex;
}