html, body { 
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
div.column {
  vertical-align: top;
  margin-top: 0ex;
}

div.x1 {
  float: left;
  width: 200px;
  margin-left:10px;
}

div.x2 {
  padding-left: 220px;
  padding-right: 245px;
}

div.x3 {
  float: right;
  width: 220px;    
  margin-right: 15px;
}

div.column * {
  margin-left: 1ex;
}
div.column h1 {
  font-size: normal;
  padding-left: 1ex;
  padding-right: 1ex;
  margin-left: 0ex;
  margin-top: 0px;
  margin-bottom: 0px;
}
div.column div {
  margin-top: 10px;
  margin-left: 0ex;
}

div.column div h1 { 
  margin-top: 0px;
}

.article img { 
  float: right;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.article hr { 
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  margin-top: 1ex;
  height: 0px;
  clear: right;
  visibility: hidden;
}
