@import url(layout.css);

html, body.portal {
}

.date {
  font-style: italic;
  font-weight: normal;
}
.intro {
  font-weight: bold;
}

div.x1, div.x3 {
  display: none;
}

div.x2 {
  padding-left: 10px;
  padding-right: 10px;
}

.applicationMenubar, .providerMenubar {
  display: none;
}
a.navigate {
  display: none;
}
.article hr {
  visibility: visible;
}
