@import url(../../style/css/mmbase.css);
@import url(rights.css);

body { 
  background: white;
  color:      black;
}


img { 
  border: none;
}
div#you { 
  position: absolute;
  right: 0px;
  top: 0px;
  height: 3ex;
  width: 35em;
  background: gray;
  color: white;
  padding: 1ex;
  text-align: right;
 
}

div#you p { 
  display: inline;
  margin: 0;
  margin-right: 3ex;
}

div#you a { 
  color: white;
}

div#navigate { 
  margin: 0 0 0 0;
  position: absolute;
  right: 0px;
  top: 5ex;
  text-align: right;

}
div#navigate p { 
  display: inline;
  margin: 0;
  margin-right: 3ex;
}

p.action { 
  margin-top: 5ex;
}

p.current { 
  background-color: #ffb;
}

.group div { 
  width: 100%;
  background-color: #eee;
}

.environment, .users { 
  display: inline;
  width: 50%;
}

.environment p {
  background-color: #eee;
  margin: 0px;
}
.environment .current { 
  background-color: #ccc;
  padding-left: 5ex;
}

.environment .parents { 
  padding-left: 1ex;
}
.environment .childs { 
  padding-left: 9ex;
}

table {
  margin-left: 0px;
  width: 100%;
  background-color: #ccc;
} 

td { 
  vertical-align: top;
  background-color: #ddd;
}

tr.even td { 
  background-color: #eee;
}

tr.highlight td { 
  background-color: yellow;
}

tr.active td { 
  background-color: #ffb;
}

