<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC
    "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!--propertyt config-->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:HibernateClasses.properties</value>
			</list>
		</property>
	</bean>

	<!--interceptor beans config-->
	<!--
		This bean is a post-processor that will automatically apply relevant advisors
		to any bean in child factories.
	-->
	<bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

	<!--
		AOP advisor that will provide declarative transaction management based on
		attributes. It's possible to add arbitrary custom Advisor implementations
		as well, and they will also be evaluated and applied automatically.
	-->
	<bean
		class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">
		<property name="transactionInterceptor"
			ref="transactionInterceptor" />
	</bean>

	<!--
		Transaction interceptor to use for auto-proxy creation.
		Transaction attributes will be read in from JDK 1.5+ annotations.
	-->
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributeSource">
			<bean
				class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" />
		</property>
	</bean>

    <!--database and transaction-->
	<bean id="dataSource" 
	class="org.apache.commons.dbcp.BasicDataSource"
	lazy-init="default" autowire="default" dependency-check="default">
	   <property name="driverClassName"><value>${database.driver}</value></property>
	   <property name="url"><value>jdbc:${database.kind}://${database.host}/${database.name}</value></property>
	   <property name="username"><value>${database.user}</value></property>
	   <property name="password"><value>${database.password}</value></property>
	   <property name="initialSize"><value>${database.pool.hub.initialSize}</value></property>
	   <property name="maxActive"><value>${database.pool.hub.initialSize}</value></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.finalist.cmsc.services.community.data.User</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager" 
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
   
	<bean name="userDAO" 
		class="com.finalist.cmsc.services.community.dao.UserDAOImpl" 
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" ref="sessionFactory" />	
   </bean>

   <!-- Service  -->
   <bean name="service" 
   		class="com.finalist.cmsc.services.community.HibernateService" 
		lazy-init="false" autowire="default" dependency-check="default">
		<property name="userDAO" ref="userDAO" />		
   </bean>
	
</beans>