div.drawer {
  clear: both;
}

div.mm_related {
  width: 100%;
  background-color: #ddf;
  clear: both;
}
div.mm_related .searchable {
  width: 50%;
  float: left;
}

div.mm_related mm_relate_current {
  background-color: green;
}

div.mm_related mm_relate_repository {
  background-color: green;
}


div.code textarea { 
  width: 100%;
  height: 100px;
  background-color: #ffe;
}