/* */
@import url(admin.css);

#wrap
{
	max-width: 400px;
	margin: 100px auto 0 auto;
}

#loginbox .row
{
	clear: both;
	padding-top: 0.8em;
}

#loginbox .lastrow
{
	clear: both;
	padding: 1.2em 0.8em 0 5.3em;
}

#loginbox label
{
	float: left;
	width: 5em;
	text-align: right;
	padding-right: 0.3em;
	font-weight: bold;
}
#loginbox label img { margin-right: 12px; }

#loginbox fieldset
{
	width: 20em;
	border-color: #CCC;
	border-width: 1px;
	border-style: solid;
	background-color: #efefef;
}

#loginbox h2, h3
{
	padding: 0;
	margin: 0 0 0.2em 0;
}
