input.popforminput {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	width: 32em;
	height: 1.4em;
	padding: 0em 0em 0em 0em;
	background-color: #EAEAEA;
	border: #404040 1px solid }	

input.popdurationforminput {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	width: 10em;
	height: 1.4em;
	padding: 0em 0em 0em 0em;
	background-color: #EAEAEA;
	border: #404040 1px solid }	

select.popdurationformselect {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	width: 8em;
	height: 1.4em;
	padding: 0em 0em 0em 0em;
	background-color: #EAEAEA;
	border: #404040 1px solid }	

select.popcompformselect {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	width: 32em;
	height: 1.4em;
	padding: 0em 0em 0em 0em;
	background-color: #EAEAEA;
	border: #404040 1px solid }	

select.popteacherformselect {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	width: 80%;
	height: 1.4em;
	padding: 0em 0em 0em 0em;
	background-color: #EAEAEA;
	border: #404040 1px solid }	
	
textarea.popforminput { 
	font-family: arial, tahoma, verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	background-color: #EAEAEA;
	padding: 0em 0em 0em 0em;
	width: 32em;
	height: 8em;
	border: #404040 1px solid 
}

table.popListTable {
	width: 80%;
	border-collapse: collapse;
	border: 1px solid #E7E7E7 }

table.popSpecialTableHeader {
	font-weight: bold;
	color: #FFFFFF; 
    background-color: #999999;
	text-align: left; 
	font-size: 1.2em;
	border-bottom: 5px solid #E7E7E7 }

table.popGreyTableHeader {
	font-weight: bold;
	color: #FFFFFF; 
    background-color: #999999;
	text-align: left; 
	font-size: 1.2em }