/**
  Editwizard cascading style sheet.

  This is the style specific to 'wizard' pages.

  @version  $Id: wizard.css,v 1.1 2005-04-28 07:29:41 hhangyi Exp $
*/
@import url("base.css");
@import url("wysiwyg.css");

p.readonly-reason {
	color: #FF0000;
}

td.stepother {
  background-color: #7198B8;
  border-color: #000000;
}

td.stepcurrent {
  border-color: #F0F0F0;
}

div.buttonscontent {
	background-color: #4A7BA5;
	color: #FFFFFF;
}

table.buttonscontent  {
	border-color: #164872;
}

tr.itemline  {
	background-color: #164872;
}

span.notvalid {
	color: #cc0000;
}

span.valid { 
    color: #062A4A;
}

table.listcontent {
	border-color: #4A7BA5;
	background-color: #4A7BA5;
	color: #FFFFFF;
}

td.listname {
	color:#FFFFFF;
}

tr.itemcanvas {
	background-color: #9DBDD8;
}

td.itemprefix  {
	background-color: #4A7BA5;
}

table.itemrow-hover {
	background-color: #BAD3E8;
}