<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <description>
    Didactor is an open-source education environment based on MMBase.
  </description>

  <display-name>Didactor</display-name>

  <context-param>
    <param-name>mmbase.taglib.eval_body_include</param-name>
    <param-value>true</param-value>
  </context-param>

  <context-param>
    <param-name>mmbase.taglib.smartpath_backwards_compatible</param-name>
    <param-value>false</param-value>
  </context-param>

  <context-param>
    <param-name>mmbase.servlet.images.addfilename</param-name>
    <param-value>yes</param-value>
  </context-param>
  <!-- some for attachments -->
  <context-param>
    <param-name>mmbase.servlet.attachments.addfilename</param-name>
    <param-value>yes</param-value>
  </context-param>

  <filter>
    <filter-name>Didactor Filter</filter-name>
    <display-name>Didactor</display-name>
    <description></description>
    <filter-class>nl.didactor.filter.ProviderFilter</filter-class>
  </filter>

  <filter>
    <filter-name>Jumpers Filter</filter-name>
    <display-name>Jumpers Filter</display-name>
    <description>Filter used for jumpers</description>
    <filter-class>org.mmbase.servlet.JumpersFilter</filter-class>
  </filter>

  <filter>
    <filter-name>FrameworkFilter</filter-name>
    <filter-class>org.mmbase.framework.FrameworkFilter</filter-class>
    <init-param>
      <param-name>excludes</param-name>
      <param-value>([.]ico$|[.]jpg$|[.]gif$|[.]png$|[.]css$|[.]js$|[.]jsp$|[.]do$)|/errorpages|/editors</param-value>
    </init-param>
  </filter>



  <filter-mapping>
    <filter-name>Didactor Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FrameworkFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Jumpers Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <servlet>
    <servlet-name>version</servlet-name>
    <servlet-class>org.mmbase.servlet.MMBaseServlet</servlet-class>
  </servlet>
  <!-- The MMBase image serving servlet. -->
  <servlet>
    <servlet-name>images</servlet-name>
    <servlet-class>org.mmbase.servlet.ImageServlet</servlet-class>
    <init-param>
      <!-- Expire time of original images. Cached images never expire. -->
      <param-name>expire</param-name>
      <!-- 10 minutes (default is one hour)-->
      <param-value>600</param-value>
    </init-param>
    <init-param>
      <!-- Whether to accepts image conversion on the URL -->
      <param-name>convert</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <!-- Field of image node to use for 'last modified' -->
      <param-name>lastmodifiedfield</param-name>
      <param-value></param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- The MMBase attachment serving servlet. -->
  <servlet>
    <servlet-name>attachments</servlet-name>
    <servlet-class>org.mmbase.servlet.AttachmentServlet</servlet-class>
    <init-param>
      <!-- Expire time of original images. Cached images never expire. -->
      <param-name>expire</param-name>
      <!-- 10 minutes (default is one hour)-->
      <param-value>600</param-value>
    </init-param>
    <init-param>
      <!-- Field of attachment node to use for 'last modified' -->
      <param-name>lastmodifiedfield</param-name>
      <param-value></param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>files</servlet-name>
    <servlet-class>org.mmbase.servlet.FileServlet</servlet-class>
    <init-param>
      <param-name>listings</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>.*/CVS/.*|.*/\.svn/.*|.*~$|^\.\#.*|.*/tomcat-users.xml$</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>


  <servlet-mapping>
    <servlet-name>version</servlet-name>
    <url-pattern>/version</url-pattern>
  </servlet-mapping>

  <!-- mapping for image-requests -->
  <servlet-mapping>
    <servlet-name>images</servlet-name>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>
  <!-- mapping for attachment requests -->
  <servlet-mapping>
    <servlet-name>attachments</servlet-name>
    <url-pattern>/attachments/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>files</servlet-name>
    <url-pattern>/files/*</url-pattern>
  </servlet-mapping>



  <!-- Mime mappings for Apache Axis -->
  <mime-mapping>
    <extension>wsdl</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>


  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <!-- Axis end -->
  <mime-mapping>
    <extension>ram</extension>
    <mime-type>audio/x-pn-realaudio</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>rm</extension>
    <mime-type>audio/x-pn-realaudio</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>rpm</extension>
    <mime-type>audio/x-pn-realaudio-plugin</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>ra</extension>
    <mime-type>audio/x-realaudio</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>sram</extension>
    <mime-type>audio/x-pn-realaudio</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>smil</extension>
    <mime-type>application/smil</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>smi</extension>
    <mime-type>application/smil</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>ssmil</extension>
    <mime-type>application/smil</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>ssmil</extension>
    <mime-type>application/smil</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>rt</extension>
    <mime-type>application/x-pn-realmedia</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>srt</extension>
    <mime-type>application/x-pn-realmedia</mime-type>
  </mime-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>index.jspx</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>


  <error-page>
    <error-code>400</error-code>
    <location>/errorpages/_400.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/errorpages/_403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorpages/_404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/errorpages/_500.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/errorpages/_503.jsp</location>
  </error-page>
</web-app>
