.klw {font-family: arial, verdana, helvetica, geneva; font-size: 10px; color: #ffffff; text-decoration: none}
.klz {font-family: arial, verdana, helvetica, geneva; font-size: 10px; color: #000000; text-decoration: none}
.klgr {font-family: arial, verdana, helvetica, geneva; font-size: 10px; color: #42BDAD; text-decoration: none}
.miw {font-family: arial, verdana, helvetica, geneva; font-size: 12px; color: #ffffff; text-decoration: none}
.miz {font-family: arial, verdana, helvetica, geneva; font-size: 12px; color: #000000; text-decoration: none}
.migr {font-family: arial, verdana, helvetica, geneva; font-size: 12px; color: #42BDAD; text-decoration: none}
.grw {font-family: arial, verdana, helvetica, geneva; font-size: 18px; color: #ffffff; text-decoration: none}
.grz {font-family: arial, verdana, helvetica, geneva; font-size: 18px; color: #000000; text-decoration: none}
.grgr {font-family: arial, verdana, helvetica, geneva; font-size: 18px; color: #42BDAD; text-decoration: none}
