<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">
<web-app>

	<!-- MMBase servlets -->
	<servlet>
		<servlet-name>version</servlet-name>
		<description>MMBase version</description>
		<servlet-class>org.mmbase.servlet.MMBaseServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
   <servlet-name>imageservlet</servlet-name>
		<description>To extract images from MMBase</description>
		<servlet-class>org.mmbase.servlet.ImageServlet</servlet-class>
		<init-param>
			<param-name>expire</param-name>
			<param-value>600</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- MMBase servlet mappings -->
	<servlet-mapping>
		<servlet-name>version</servlet-name>
		<url-pattern>/version</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>imageservlet</servlet-name>
		<url-pattern>/mmbase/images/*</url-pattern>
	</servlet-mapping>

   
  <!-- Use the MMBase community taglib -->

	<taglib>
		<taglib-uri>http://www.mmbase.org/mmcommunity-taglib-1.0</taglib-uri>
		<taglib-location>/WEB-INF/lib/mmbase-community.jar</taglib-location>
	</taglib>

</web-app>
