.jforum input, textarea, select { border-top-width: 1px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px }
.jforum input { text-indent: 2px; }
.jforum .postbody { line-height: 18px }
.jforum img { border: 0px; }
.jforum font, th, td, p { font-family: verdana, arial, helvetica, sans-serif; }

/* Links */
.jforum a:link { color: #01336b; text-decoration: none; }
.jforum a:active { color: #01336b }
.jforum a:visited { color: #01336b; text-decoration: none; }
.jforum a:hover { color: #dd6900; text-decoration: underline }

.jforum hr { border: #dfdfdf 0px solid; height: 0px }
.jforum .bodyline { border: #cccccc 1px solid;  }
.jforum .forumline { border: #006699 2px solid; }

/* td */
.jforum td.row1 { background-color: #fafafa; }
td.row2 { background-color: #f7f7f8; }
td.row3 { background-color: #dfdfdf; }

.jforum td.row1announce { background-color: #efefef;}
.jforum td.row1sticky { background-color: #efefef; }
.jforum td.row2announce { background-color: #dee3e7; }
.jforum td.row2sticky { background-color: #dee3e7; }
.jforum td.row3announce { background-color: #d1d7dc; }

.jforum td.row3sticky { background-color: #d1d7dc; }

.jforum td.rowpic { background-image:  url(../images/cellpic2.jpg); background-repeat: repeat-y; background-color: #ffffff }
.jforum th { font-weight: bold; font-size: 11px; background-image:  url(../images/cellpic3.gif); color: #ffa34f; height: 25px; background-color: #01336b }
.jforum td.cat { border-right: #ffffff solid; border-top: #ffffff solid; background-image:  url(../images/cellpic1.gif); border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px; background-color: #dfdfdf }
.jforum td.cathead { border-right: #ffffff solid; border-top: #ffffff solid; background-image:  url(../images/cellpic1.gif); border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px; background-color: #dfdfdf }
.jforum td.catsides { border-right: #ffffff solid; border-top: #ffffff solid; background-image:  url(../images/cellpic1.gif); border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px; background-color: #dfdfdf }
.jforum td.catleft { border-right: #ffffff solid; border-top: #ffffff solid; background-image:  url(../images/cellpic1.gif); border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px; background-color: #dfdfdf }
.jforum td.catright { border-right: #ffffff solid; border-top: #ffffff solid; background-image:  url(../images/cellpic1.gif); border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px; background-color: #dfdfdf }
.jforum td.catbottom { border-right: #ffffff solid; border-top: #ffffff solid; background-image:  url(../images/cellpic1.gif); border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px; background-color: #dfdfdf }
.jforum td.cat { border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; height: 29px; border-right-width: 0px }
.jforum td.cathead { border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; height: 29px; border-right-width: 0px }
.jforum td.catbottom { border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; height: 29px; border-right-width: 0px }
.jforum th.thhead { border-right: #ffffff solid; border-top: #ffffff solid; font-weight: bold; border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px }
.jforum th.thsides { border-right: #ffffff solid; border-top: #ffffff solid; font-weight: bold; border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px }
.jforum th.thtop { border-right: #ffffff solid; border-top: #ffffff solid; font-weight: bold; border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px }
.jforum th.thleft { border-right: #ffffff solid; border-top: #ffffff solid; font-weight: bold; border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px }
.jforum th.thright { border-right: #ffffff solid; border-top: #ffffff solid; font-weight: bold; border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px }
.jforum th.thbottom { border-right: #ffffff solid; border-top: #ffffff solid; font-weight: bold; border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px }
.jforum th.thcornerl { border-right: #ffffff solid; border-top: #ffffff solid; font-weight: bold; border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px }
.jforum th.thcornerr { border-right: #ffffff solid; border-top: #ffffff solid; font-weight: bold; border-left: #ffffff solid; border-bottom: #ffffff solid; height: 28px }
.jforum td.row3right { border-right: #ffffff solid; border-top: #ffffff solid; border-left: #ffffff solid; border-bottom: #ffffff solid; background-color: #dfdfdf }
.jforum td.spacerow { border-right: #ffffff solid; border-top: #ffffff solid; border-left: #ffffff solid; border-bottom: #ffffff solid; background-color: #dfdfdf }
.jforum th.thhead { border-top-width: 1px; border-left-width: 1px; font-size: 12px; border-bottom-width: 0px; border-right-width: 1px }
.jforum td.cathead { border-top-width: 1px; border-left-width: 1px; font-size: 12px; border-bottom-width: 0px; border-right-width: 1px }
.jforum th.thsides { border-top-width: 0px; border-left-width: 1px; border-bottom-width: 0px; border-right-width: 1px }
.jforum td.catsides { border-top-width: 0px; border-left-width: 1px; border-bottom-width: 0px; border-right-width: 1px }
.jforum td.spacerow { border-top-width: 0px; border-left-width: 1px; border-bottom-width: 0px; border-right-width: 1px }
.jforum th.thright { border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 1px }
.jforum td.catright { border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 1px }
.jforum td.row3right { border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 1px }
.jforum th.thleft { border-top-width: 0px; border-left-width: 1px; border-bottom-width: 0px; border-right-width: 0px }
.jforum td.catleft { border-top-width: 0px; border-left-width: 1px; border-bottom-width: 0px; border-right-width: 0px }
.jforum th.thbottom { border-top-width: 0px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px }
.jforum td.catbottom { border-top-width: 0px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px }
.jforum th.thtop { border-top-width: 1px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px }
.jforum th.thcornerl { border-top-width: 1px; border-left-width: 1px; border-bottom-width: 0px; border-right-width: 0px }
.jforum th.thcornerr { border-top-width: 1px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 1px }
.jforum .maintitle { font-weight: bold; font-size: 22px; color: #000000; line-height: 120%; font-family: "trebuchet ms",verdana, arial, helvetica, sans-serif; text-decoration: none }

.jforum .gen, .poll { font-size: 12px }
.jforum .genmed, .name { font-size: 11px; }
.jforum .gensmall, .postdetails { font-size: 10px; }
.jforum .strong { font-weight: bold; }

.jforum .mainmenu { font-size: 11px; color: #000000 }
.jforum .cattitle { font-weight: bold; font-size: 12px; color: #01336b; letter-spacing: 1px; }
.jforum .forumlink { font-weight: bold; font-size: 12px; color: #01336b; }
.jforum .nav, .topictitle { font-weight: bold; font-size: 11px; color: #000000; }

.jforum blockquote, .code, pre  {
	font-size: 11px; color: #444444; font-family: verdana, arial, helvetica, sans-serif; background-color: #f3f5ff;
	border: #01336b 1px solid; padding-left: 5px;
}

.jforum .pre-error { font-size: 1em; color: #000000; font-family: verdana, arial, helvetica, sans-serif; background-color: #fafafa; border: 0; padding-left: 0; }

.jforum cite { font-weight: bold; font-style: italic; font-size: 11px; }
.jforum pre { font-family: courier, 'courier new', sans-serif;  }

.jforum .copyright { font-size: 10px; color: #444444; font-family: verdana, arial, helvetica, sans-serif; letter-spacing: -1px }

/* posts */
.jforum .postbody { font-size: 12px; line-height: 1.5em; }

.jforum .postinfo { font-size: 10px; color: #000000; background-color: #dee3e7; padding: 4px; height: 2em; }
.jforum .postinfo .date { width: 160px; float: left; }
.jforum .postinfo .subject { float: left; }
.jforum .postinfo .action { float: right; }


.jforum a.copyright { color: #444444; text-decoration: none; }
.jforum a.copyright:hover { color: #000000; text-decoration: underline; }
.jforum input, textarea, select { border-left-color: #000000; border-bottom-color: #000000; font: 11px verdana, arial, helvetica, sans-serif; color: #000000; border-top-color: #000000; border-right-color: #000000; }

.jforum input { text-indent: 2px; }
.jforum input.button { font-size: 11px; color: #000000; font-family: verdana, arial, helvetica, sans-serif; background-color: #fafafa; }
.jforum input.mainoption { font-weight: bold; background-color: #fafafa; }
.jforum input.liteoption { font-weight: normal; background-color: #fafafa; }
.jforum .helpline { border-top-style: none; border-right-style: none; border-left-style: none; background-color: #f7f7f8; border-bottom-style: none; }

.jforum .moderatortitle { font-weight: bold; font-size: 12px; color: #ffa34f; }
.jforum .moderator { font-size: 10px; color: #006600; }
.jforum .admin { font-size: 10px; color: #ffa34f; }
.jforum .online { color: #006600; }
.jforum .offline { color: #ff0000; }

.jforum .bg_yellow { background-color:#ffeea7; }
.jforum .moderation_highlight, .bg_small_yellow { background-color: #fff8dd; }

.jforum td.attachrow		{ font: normal 11px verdana, arial, helvetica, sans-serif; color : #000000; border-color : #000000; }
.jforum td.attachheader     { font: normal 11px verdana, arial, helvetica, sans-serif; color : #000000; border-color : #000000; background-color: #d1d7dc; }
.jforum table.attachtable	{ font: normal 12px verdana, arial, helvetica, sans-serif; color : #000000; border-color : #000000;	border-collapse : collapse; }

.jforum .icon_folder_announce { background-image: url(../images/folder_announce.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_folder_sticky { background-image: url(../images/folder_sticky.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_folder_hot { background-image: url(../images/folder_hot.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_folder { background-image: url(../images/folder.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_folder_lock { background-image: url(../images/folder_lock.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_folder_announce_new { background-image: url(../images/folder_announce_new.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_folder_sticky_new { background-image: url(../images/folder_sticky_new.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_folder_new_hot { background-image: url(../images/folder_new_hot.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_folder_new { background-image: url(../images/folder_new.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_folder_lock_new { background-image: url(../images/folder_lock_new.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_vote_lcap { background-image: url(../images/vote_lcap.gif); width: 4px; height: 12px; display: inline; }
.jforum .icon_vote_rcap { background-image: url(../images/vote_rcap.gif); width: 4px; height: 12px; display: inline; }
.jforum .icon_topic_delete { background-image: url(../images/topic_delete.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_topic_move { background-image: url(../images/topic_move.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_topic_unlock { background-image: url(../images/topic_unlock.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_topic_lock { background-image: url(../images/topic_lock.gif); width: 19px; height: 18px; display: inline; }
.jforum .icon_latest_reply { background-image: url(../images/icon_latest_reply.gif); width: 18px; height: 9px; display: inline; }
