/*
 CSS for MMBase website
 @version $Id: mmbase.css,v 1.1 2003-03-20 14:40:13 kees Exp $;
*/

body {  
	background-color: white;
	color: #42BDAD;
	font-size:medium;
}

a:link { 
	color: #42BDAD; 
}

a:visited { 
	color: #AAAAAA; 
}

a:active { 
	color: #AAAAAA; 
}

th {  
	background-color: #44BDAD; 
	color: #00425A; 
	font-size:medium; 
	font-weight:bold; 
}

th.main {
	background-color: #44BDAD;
        color: #00425A;
        font-size:large;
        font-weight:bold; 
}

td {  
	background-color: #00425A;
	color: #44BDAD;
	font-size:medium;
	font-weight:normal; 
}

td.link {
	background-color: #44BDAD; 
	color: #00425A; 
	font-size:medium; 
	font-weight:normal;
	width:14; 
}
