/**
  Editwizard cascading style sheet.
*/
div.buttonscontent  {
	text-align: right;
	height:39px;
} 

/* CMS Container style  */
input, select, textarea
{
	font-size: 11px;
	color: #313728;
	border-style: solid;
	border-color: #7f8d90;
	border-width: 1px;
	padding: 2px;
	background-image: url('../../../gfx/bg_input.gif');
	background-repeat: repeat-x;
	background-color: #ffffff;
}

input.input, textarea.input {
	width: 99%;
}

input[type="checkbox"] {
	width: auto;
} 

/* edit wizards tabs */
div.tabs
{
	background-image: url('../../../gfx/edit_shadow.gif');
	background-repeat: repeat-x;
	height: 35px;
	width: 100%;
	clear: both;
}

/* active tab */
div.tabs div.tab_active
{
	display: block;
	background-color: #ffffff;
	background-image: url('../../../gfx/tab_active_left.gif');
	background-position: top left;
	background-repeat: no-repeat;
	height: 35px;
	float: left;
	margin-right: 1px;
}
div.tabs div.tab_active div.body
{
	margin-left: 40px;	
	padding-right: 40px;
	background-image: url('../../../gfx/tab_active_right.gif');
	background-position: top right;
	background-repeat: no-repeat;
	height: 35px;
	float: left;	
	clear: both;
	display: inline;	
}
div.tabs div.tab_active a.valid
{
	padding-top: 17px;
	color: #313728;
	font-size: 14px;
	float: left;	
}
div.tabs div.tab_active a.notvalid
{
	padding-top: 17px;
	color: #cc0000;
	font-size: 14px;
	float: left;	
}

/* normale tab */
div.tabs div.tab
{
	display: block;	
	background-image: url('../../../gfx/tab_left.gif');
	background-position: top left;
	background-repeat: no-repeat;
	height: 35px;
	float: left;
	margin-right: 1px;	
}
div.tabs div.tab div.body
{
	margin-left: 40px;	
	padding-right: 40px;
	float: left;
	background-image: url('../../../gfx/tab_right.gif');
	background-position: top right;
	background-repeat: no-repeat;
	height: 35px;
	clear: both;
	display: inline;
}
div.tabs div.tab div.body a.valid
{
	padding-top: 14px;
   color: #64676f;
   font-size: 14px;
	float: left;			
}
div.tabs div.tab div.body a.notvalid
{
	padding-top: 17px;
	color: #cc0000;
	font-size: 13px;
	float: left;	
}

/* Command button */

div.page_buttons_seperator
{
	background-image: url('../../../gfx/edit_shadow_2.gif');
	background-repeat: repeat-y;
	background-position: top right;	
	height: 10px;
	background-color: #ffffff;
	
	float: left;
	clear: both;
	width: 100%;
	height: 2px;
}

div.page_buttons_seperator div
{
	color: #97b7c8;
	border-width: 1px;
	border-style: solid none none none;
	border-color: #97b7c8;
	margin-right: 5px;
	margin-left: 2px;
}

/* buttons */
div.page_buttons
{
	width: 100%;
	background-image: url('../../../gfx/tab_2_left.gif');
	background-repeat: no-repeat;
	height: 39px;
	background-color: #ffffff;	
}

div.page_buttons div.begin
{
	background-image: url('../../../gfx/tab_2_right.gif');
	background-repeat: no-repeat;
	height: 39px;
	width: 9px;
	float: right;
}

div.page_buttons div.button
{
	background-image: url('../../../gfx/tab_2_left.gif');
	background-repeat: no-repeat;
	background-position: top left;
	height: 39px;
	float: right;
	border-style: none none none solid;
	border-width: 1px;
	border-color: #97b7c8;

}

div.page_buttons div.button div.button_body
{
	background-image: url('../../../gfx/tab_2_right.gif');
	background-repeat: no-repeat;
	background-position: top right;
	height: 39px;
	float: left;	
}

div.page_buttons div.button div.button_body_last
{
	background-image: url('../../../gfx/tab_2_end.gif');
	background-repeat: no-repeat;
	background-position: top right;
	height: 39px;
	float: left;		
}

div.page_buttons div.button div.button_body a,
div.page_buttons div.button div.button_body_last a
{
	float: left;
	padding: 10px;
	color: #313728;
	font-size: 13px;	
	display: block;
}

div.page_buttons div.button div.button_body a.bottombutton-disabled,
div.page_buttons div.button div.button_body_last a.bottombutton-disabled
{
	float: left;
	padding: 10px;
	color: gray;
	font-size: 13px;	
	display: block;
}

/* buttons hovers */
div.page_buttons div.button:hover
{
	background-image: url('../../../gfx/tab_2_active_left.gif');
	background-repeat: no-repeat;
	background-position: top left;
	height: 39px;
	float: right;
	border-style: none none none solid;
	border-width: 1px;
	border-color: #97b7c8;
	background-color: #f1f400;
	cursor: pointer;
}

div.page_buttons div.button:hover div.button_body
{
	background-image: url('../../../gfx/tab_2_active_right.gif');
	background-repeat: no-repeat;
	background-position: top right;
	height: 39px;
	float: left;	
}
div.page_buttons div.button a.a_hover:hover
{   
  background-image: url('../../../gfx/tab_2_active_left.gif');
	background-repeat: no-repeat;
	background-position: top left;
	height: 39px;
	float: right;
	border-style: none none none solid;
	border-width: 1px;
	border-color: #97b7c8;
	background-color: #f1f400;
	cursor: pointer;
}

div.page_buttons div.button a.a_hover:hover div.button_body
{   
   background-image: url('../../../gfx/tab_2_active_right.gif');
	background-repeat: no-repeat;
	background-position: top right;
	height: 39px;
	float: left;
}

div.page_buttons div.button:hover div.button_body a
{
	float: left;
	padding: 10px;
	color: #313728;
	font-size: 13px;	
	display: block;
}

div.page_buttons div.button:hover div.button_body a.bottombutton-disabled
{
	float: left;
	padding: 10px;
	color: gray;
	font-size: 13px;	
	display: block;
}

div.ruler1
{
	background-color: #ffffff;	
	height: 18px;	
	
	text-transform: uppercase;
	background-image: url('../../../gfx/hr_red.gif');
	background-position: left top;
	background-repeat: no-repeat;	
	
	width: 100%;			
}

div.ruler1 div
{		
	display: inline;
	margin-left: 40px;
	padding-right: 9px;	

	font-size: 14px;
	letter-spacing: 2px;
	
	width: auto;			
	color: #cc0000;
	
	background-color: #ffffff;
	background-position: right top;
	background-image: url('../../../gfx/hr_red_end.gif');
	background-repeat: no-repeat;	
}

div.ruler2
{
	background-color: #ffffff;	

	height: 18px;	
	
	text-transform: uppercase;
	background-image: url('../../../gfx/hr_green.gif');
	background-position: left top;
	background-repeat: no-repeat;	
	
	width: 100%;			
}

div.ruler2 div
{
	display: inline;
	margin-left: 40px;
	padding-right: 9px;	

	font-size: 14px;
	letter-spacing: 2px;
	
	width: auto;			
	color: #418001;
	
	background-color: #ffffff;
	background-position: right top;
	background-image: url('../../../gfx/hr_green_end.gif');
	background-repeat: no-repeat;	
}

div.ruler3
{
	background-color: #ffffff;	

	height: 18px;	
	
	text-transform: uppercase;
	background-image: url('../../../gfx/hr_blue.gif');
	background-position: left top;
	background-repeat: no-repeat;
	
	width: 100%;
}

div.ruler3 div
{
	display: inline;
	margin-left: 40px;
	padding-right: 9px;	

	font-size: 14px;
	letter-spacing: 2px;
	
	width: auto;			
	color: #144190;
	
	background-color: #ffffff;
	background-position: right top;
	background-image: url('../../../gfx/hr_blue_end.gif');
	background-repeat: no-repeat;
}

div.ruler4
{
	background-color: #ffffff;	

	height: 18px;	
	
	text-transform: uppercase;
	background-image: url('../../../gfx/hr_gray.gif');
	background-position: left top;
	background-repeat: no-repeat;
	
	width: 100%;
}

div.ruler4 div
{
	display: inline;
	margin-left: 40px;
	padding-right: 9px;	

	font-size: 14px;
	letter-spacing: 2px;
	
	width: auto;			
	color: #737373;
	
	background-color: #ffffff;
	background-position: right top;
	background-image: url('../../../gfx/hr_gray_end.gif');
	background-repeat: no-repeat;
}

/* List */

table.contentlist
{
	border-collapse: collapse;
	border-style: none;
	border-width: 0px;
	color: #313728;
	font-size: 11px;
	width: 99%;
}
table.itemcontent {
    font-size: 11px;
    padding: 2px 4px 2px 4px;
    vertical-align: top;
    text-align: left;
    border-width: 0px;
    border-style: solid;
    border-collapse: collapse;
    
}

tr.item1
{
 background-color: #f5e9e6;
}
tr.item2
{
 background-color: #e0ffc1;
}

tr.item3
{
 background-color: #d7d7ff;
}

tr.item4
{
 background-color: #f1f1f1;
}
tr.item td
{
	  padding: 5px;
      text-align: left;
      color: #418001; 
      
}
td.listnew {
    font-size: 11px;
    padding: 0px;
    text-align: left;
    width: 70px;
}

td.itembutton {
    font-size: 11px;
    padding: 0px;
    vertical-align: top;
    text-align: left;
    width: 57px;
}
span
{
	 font-weight: bold; 
}


table a.expand_button:visited,
table a.expand_button
{
	color: #313728;
	font-size: 11px;
	font-weight: bold;
	background-image: url('../../../gfx/button_expand.gif');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 15px;
	text-decoration: none;
	height: 11px;
}


table a.expand_button:hover,
table a.expand_button:active

{
  	color: #313728;
	font-size: 11px;
	font-weight: bold;
	background-image: url('../../../gfx/button_expand.gif');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 15px;
	height: 11px;
    text-decoration: underline;
}
table a.button:visited,
table a.button
{
	color: #313728;
	font-size: 11px;
	font-weight: bold;
	/* Conflicts in some IE versions, see CMSC-668 
	background-image: url('../../../gfx/button_side_block.gif');
	*/
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 15px;
	text-decoration: none;
	height: 11px;
}

table a.button:hover,
table a.button:active
{
	color: #313728;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}

span.valid
{
	text-align: right;
	font-weight: bold;
}
table a.imgbuttonremove
{
	float: left;
	width: 16px;
	height: 23px;
	background-image: url('../../../gfx/button_delete.gif');
}

table a.imgbuttonremove:hover
{
	float: left;
	width: 16px;
	height: 23px;
	background-image: url('../../../gfx/button_delete_active.gif');
}

table a.imgbuttondown
{
	float: left;
	width: 16px;
	height: 23px;
	background-image: url('../../../gfx/button_down.gif');
}

table a.imgbuttondown:hover
{
	float: left;
	width: 16px;
	height: 23px;
	background-image: url('../../../gfx/button_down_active.gif');
}

table a.imgbuttonup
{
	float: left;
	width: 16px;
	height: 23px;
	background-image: url('../../../gfx/button_up.gif');
}

table a.imgbuttonup:hover
{
	float: left;
	width: 16px;
	height: 23px;
	background-image: url('../../../gfx/button_up_active.gif');
}
td.fieldprompt {
  font-weight: 600;
  vertical-align: top;
  text-align: right;
  white-space:  nowrap;
  padding: 0px 5px;
}

td.searchprompt {
    font-weight: 600;
    text-align: right;
    white-space :  nowrap;
    width: 180px;
}

input.calendar {
  vertical-align: bottom;
}


/* Messagebox */

div.messagebox_red
{
	display: block;
	background-position: top left;
	background-repeat: no-repeat;	
}

div.messagebox_red div.box
{
	display: block;
	background-color: #cc0000;
	margin: 10px 60px 10px 60px;
	width: auto;
	letter-spacing: 1px;
}

div.messagebox_red div.box div.top,
div.messagebox_red div.box div.top div,
div.messagebox_red div.box div.bottom,
div.messagebox_red div.box div.bottom div
{
	width: 100%;
	height: 10px;
	font-size: 1px;
}


div.messagebox_red div.box div.top
{
	background-image: url('../../../gfx/box_red.gif');
	background-position: top left;
	background-repeat: no-repeat;
}

div.messagebox_red div.box div.top div
{
	background-image: url('../../../gfx/box_red_2.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

div.messagebox_red div.box div.bottom
{
	background-image: url('../../../gfx/box_red_3.gif');
	background-position: bottom right;
	background-repeat: no-repeat;
}

div.messagebox_red div.box div.bottom div
{
	background-image: url('../../../gfx/box_red_4.gif');
	background-position: bottom left;
	background-repeat: no-repeat;
}

div.messagebox_red div.box div.body,
div.messagebox_red div.box div.body table
{
	margin: 0 10px;
	color: #ffffff;	
	background-color: #cc0000 !important;		
}

