/******************************************************************
 * TITLE: Didactor 2.0 stylesheet	(loginpage.css)		          *
 * URL  : /css 													  *
 * MODIF: 2004-07-29			                                  *
 ******************************************************************/

/* DESCRIPTION:
 * This is the stylesheet for the first cockpit if you're not logged in yet. 
*/

/* ###### Body Text ###### */

body {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 0.7em;	
	height: 95%;
	width: 100%;
	margin: 0em;
	overflow: auto;
	background-color: #FFFFFF;
	scrollbar-face-color: #FFA210; scrollbar-highlight-color: #FEE3C9;
	scrollbar-shadow-color: #EB7B0C; scrollbar-3dlight-color: #FDCFA2;
	scrollbar-arrow-color: #E7E7E7; scrollbar-track-color: #EEEEEE;
	scrollbar-darkshadow-color: #FDDFC1 }
	
h1 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.25em;
	color: #ED6F2C }

h2 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	color: #ED6F2C }

h3 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	color: #ED6F2C }

a.menubar:link {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none }

a.menubar:visited {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 1em;
	font-weight:
	bold; color: #FFFFFF;
	text-decoration: none }

a.menubar:hover {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline }

a.menubar:active {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none }

a {
	font-weight: normal;
	color: #000000;
	text-decoration: none }

a:hover {
	text-decoration: underline }

.content {
	height: 100%;
	width: 100%;
	position: relative }
	
/* ###### navigation-menu lines on the top of the screen ###### */

.applicationMenubarCockpit {
	font-weight: bold;
	color: #FFFFFF;
	text-align: right;
	padding: 0.5em 1.5em 0.8em 0em;
	background-image: url('../gfx/bg_top.gif'); 
	background-repeat: no-repeat;
	background-color: #F29E42;
	border-bottom: #FFFFFF 1px solid }

.providerMenubar {
	font-weight: bold;
	color: #FFFFFF;
	height: 1.9em;
	padding: 0em 0em 0.1em 2.6em;
	background-color: #999999;
	border-bottom: #FFFFFF 1px solid }

.educationMenubarCockpit {
	font-weight: bold;
	color: #FFFFFF;
	height: 1.9em;
	padding: 0em 0em 0.1em 0em;
	background-color: #ED6F2C;
	border-bottom: #FFFFFF 1px solid }
	
table.pixellijn {
	width: 100%;
	height: 0.1em;
	vertical-align: bottom;
	padding: 0em 0em 0em 0em;
	background-color:#ED6F2C;
	border-bottom: #FFFFFF 1px solid }
	
/* ###### searchfield in menuline2 ###### */

input.search {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	width: 8.1em;
	height: 1.4em;
	padding: 0em 0em 0em 0em;
	background-color: #EAEAEA;
	border: #404040 1px solid }	
	
input {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	padding: 0em 0em 0em 0em }	

input.formbutton {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	height: 1.6em;
	padding: 0em 0.2em 0.2em 0.2em;
	background-color: #EAEAEA;
	border: #404040 1px solid }

/* ###### cockpit: 3 columns ###### */
	
.columns {
	height: 85%;
	width: 100%;
	position: relative;
	background-color: #FFFFFF }
	
.columnLeft {
	width: 16.2em;
	height: 100%;
	top: 0em;
	left: 0.8em;
	position: absolute; 
	padding: 0em 0em 0em 0em;
	overflow: hidden;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC }

.columnMiddle {
	overflow: auto;
	font-size: 1.1em;
	color: #666666;
	height: 100%;
	left: 17em;
	right: 17em;
	position: absolute;
	padding: 1.2em 1.2em 0.8em 0.8em }

.columnRight {
	width: 16.2em;
	height: 100%;
	top: 0em;
	right: 0.8em;
	position: absolute; 
	padding: 0em 0em 0em 0em;
	overflow: hidden;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC }
	
/* ###### Cockpit: boxes and titles in left and right column ###### */

div.ListLeft {
  	text-align: center;
  	width: 100%;
  	height: 18em;
  	padding: 0.5em 0.25em 0.5em 0.25em;
	overflow: visible;
	white-space: wrap;
	background-color: #EEEEEE;
  	border-top: 1px solid #CCCCCC;
  	border-bottom: 1px solid #CCCCCC }

div.ListRight {
	text-align: left;
	width: 100%;
  	height: 28.2em;
  	padding: 0.5em 0.25em 0.5em 0.25em;
	overflow: auto;
	white-space: wrap;
	background-color: #EEEEEE;
  	border-top: 1px solid #CCCCCC;
  	border-bottom: 1px solid #CCCCCC }

div.titlefield {
	text-align: left;
	overflow: visible;
	white-space: normal;
	width: 160px;
}

a.users:link,
a.users:visited,
a.users:active {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #000000;
	text-decoration : none }
	
a.users:hover {
	 text-decoration : underline }

.titlefield {
	font-size: 1em;
	font-weight: bold;
	color: #000000;
	width: 100%;
	vertical-align: right;
	padding: 0.2em 0.5em 0.2em;
	background-color: #FFFFFF;
  	border-top: 6px solid #FF801A }
	
.titlefield2 {
	font-size: 1em;
	font-weight: bold;
	color: #000000;
	width: 100%;
	vertical-align: right;
	padding: 0.2em 0.5em 0.2em }

/* ###### buttons ###### */
   
.button1 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	width: 8em;
	margin: 1em }
  
.button1 a {
	text-align: center;
	padding: 0em 0em 0em 0em;
	display: block }
  
.button1 a:link,
.button1 a:visited,
.button1 a:hover {
	color: #5A5D5A;
	text-decoration: none; 
	background-color: #F5F5F5 }
  
.button1 a:link,
.button1 a:visited {
	border-top: 1px solid #cecece;
	border-bottom: 2px solid #4a4a4a;
	border-left: 1px solid #cecece;
	border-right: 2px solid #4a4a4a }
  
.button1 a:hover {
	border-top: 2px solid #4a4a4a;
	border-bottom: 1px solid #cecece;
	border-left: 2px solid #4a4a4a;
	border-right: 1px solid #cecece }
