

/* ###### cockpit: 3 columns ###### */

body.login .mainContent {
  height: 85%;
  width: 100%;
  position: relative;
  background-color: #FFFFFF
}

.columnLeft {
  width: 16.2em;
  height: 100%;
  top: 0em;
  left: 0.8em;
  position: absolute;
  padding: 0em 0em 0em 0em;
  overflow: hidden;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC
}

.columnMiddle {
  overflow: auto;
  font-size: 1.1em;
  color: #666666;
  height: 100%;
  left: 17em;
  right: 17em;
  position: absolute;
  padding: 1.2em 1.2em 0.8em 0.8em
}

.columnRight {
  width: 16.2em;
  height: 100%;
  top: 0em;
  right: 0.8em;
  position: absolute;
  padding: 0em 0em 0em 0em;
  overflow: hidden;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC
}

/* ###### Cockpit: boxes and titles in left and right column ###### */

div.ListLeft {
  text-align: center;
  width: 100%;
  height: 18em;
  padding: 0.5em 0.25em 0.5em 0.25em;
  overflow: visible;
  white-space: wrap;
  background-color: #EEEEEE;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC
}

div.ListRight {
  text-align: left;
  width: 100%;
  height: 28.2em;
  padding: 0.5em 0.25em 0.5em 0.25em;
  overflow: auto;
  white-space: wrap;
  background-color: #EEEEEE;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC
}

div.titlefield {
  text-align: left;
  overflow: visible;
  white-space: normal;
  width: 160px;
}

a.users:link,
a.users:visited,
a.users:active {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #000000;
  text-decoration : none
}

a.users:hover {
  text-decoration : underline
}

.titlefield {
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  width: 100%;
  vertical-align: right;
  padding: 0.2em 0.5em 0.2em;
  background-color: #FFFFFF;
  border-top: 6px solid #FF801A
}

.titlefield2 {
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  width: 100%;
  vertical-align: right;
  padding: 0.2em 0.5em 0.2em
}

/* ###### buttons ###### */

.button1 {
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 1em;
  font-weight: bold;
  width: 8em;
  margin: 1em
}

.button1 a {
  text-align: center;
  padding: 0em 0em 0em 0em;
  display: block
}

.button1 a:link,
.button1 a:visited,
.button1 a:hover {
  color: #5A5D5A;
  text-decoration: none;
  background-color: #F5F5F5
}

.button1 a:link,
.button1 a:visited {
  border-top: 1px solid #cecece;
  border-bottom: 2px solid #4a4a4a;
  border-left: 1px solid #cecece;
  border-right: 2px solid #4a4a4a
}

.button1 a:hover {
  border-top: 2px solid #4a4a4a;
  border-bottom: 1px solid #cecece;
  border-left: 2px solid #4a4a4a;
  border-right: 1px solid #cecece
}
