@import url(rights.css);

div#you { 
  position: relative;
  right: 0px;
  top: 0px;
  height: 3ex;
  width: 35em;
  background: gray;
  color: white;
  padding: 1ex;
  text-align: right;
 
}

div#you p { 
  display: inline;
  margin: 0;
  margin-right: 3ex;
}

div#you a { 
  color: white;
}

div#navigate { 
  margin: 0 0 0 0;
  right: 0px;
  top: 5ex;
  text-align: right;

}
div#navigate p { 
  display: inline;
  margin: 0;
  margin-right: 3ex;
}



p.action { 
  margin-top: 5ex;
}

p.current { 
  background-color: #ffb;
}

.group div { 
  width: 100%;
}

.environment, .users { 
  display: inline;
  width: 50%;
}

.environment p {
  margin: 0px;
}
.environment .current { 
  padding-left: 5ex;
}

.environment .parents { 
  padding-left: 1ex;
}
.environment .childs { 
  padding-left: 9ex;
}

table {
  margin-left: 0px;
  width: 100%;
} 

td { 
  vertical-align: top;
}

