body  {
	display: float;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 10px;
	padding: 0px;
	margin-left: 5%;
	margin: 0px;
	background-color: white;
}

.subnav td a:visited  {
	color: black;
}

dd  {
	font-size: 12px;
	margin-bottom: 5px;
	margin-left: 20px;
}

.breadcrumbar td  {
	color: #000;
	height: 18px;
	border-width: 0px 0px 1px 0px;
	border-color: #000;
	background-color: #CCEB6F;
}

div.row span.formw  {
	display: block;
	width: 335px;
	text-align: left;
	float: right;
}

ul  {
	font-size: 11px;
	text-align: left;
}

.header  {
	visibility: visible;
	background: #FFFFFF;
}

div.spacer  {
	clear: both;
}

strong  {
	color: #CCEB6F;
	font-weight: bold;
}

.bodypart  {
	visibility: visible;
	background: #FFFFFF;
}

h4  {
	color: #003333;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

h3  {
	color: #003333;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

.breadcrum  {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 10px;
	padding: 2px 0px 2px 5px;
}

.subnav  {
	height: 28px;
}

body #profileb  {
	width: 500px;
	margin-top: 0.8em;
	margin-right: auto;
	margin-left: auto;
	margin: 0px;
}

.list tr .threadpagelistoddq  {
	width: 480px;
	padding: 7px;
	background-color: #EFEFEF;
}

input  {
	font-family: "Lucide Grande", Arial, sans-serif;
	font-size: 11px;
	text-align: left;
	background-color: #D9DDDE;
}

div.row  {
	padding-bottom: 5px;
	clear: both;
	padding-top: 5px;
}

h6  {
	color: #003333;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
}

.footer  {
	visibility: visible;
	background: #FFFFFF;
}

.list tr .threadpagelisteven  {
	width: auto;
	padding: 5px;
	background-color: #E8E8E8;
}

#tabs ul li.selected  {
	display: inline;
	color: black;
	border-bottom: 1px solid #ffffff;
	background-color: #eeeeee;
	list-style: none;
}

.subnav  td a:link  {
	color: black;
}

div.deleteavatar  {
	width: 80px;
	text-align: right;
}

.list td  {
	color: black;
	font-size: 11px;
	border: 1px solid #ffffff;
	padding-left: 4px;
	background-color: #eeeeee;
}

.relationcontainer th  {
	padding: 3px;
	border: 0px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 0px;
	background-color: #dddddd;
}

.subnav td  {
	text-align: center;
	padding-top: 5px;
	border: 1px solid white;
	background-color: #E7EBDE;
}

.list tr .threadpagelistodd  {
	width: auto;
	padding: 5px;
	background-color: #EFEFEF;
}

a:link  {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

h5  {
	color: #003333;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}

.list .listsearch td  {
	padding: 3px;
	background-color: #E4E174;
}

div.row span.label  {
	display: block;
	color: black;
	font-weight: bold;
	width: 100px;
	text-align: right;
	float: left;
}

h2  {
	color: #003333;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

.list tr .threadpagelistevenq  {
	width: 480px;
	padding: 7px;
	background-color: #E8E8E8;
}

#tabs ul  {
	display: inline;
	margin-left: 0;
	padding-left: 0;
}

textarea  {
	background-color: #D9DDDE;
}

div.avatarimage  {
	padding-bottom: 5px;
	width: 84px;
	margin-bottom: 10px;
	height: 100px;
	margin-left: 10px;
	float: left;
	padding-top: 5px;
	border: 1px solid #000000;
	padding-right: 5px;
	padding-left: 5px;
}

.layout, .layout th, .layout td  {
	font-size: 11px;
	text-align: left;
	padding: 0px;
	vertical-align: top;
	border: 0px;
	background-color: white;
	margin: 0px;
}

.smilies  {
	border-style: none;
}

.subnav tr .selected  {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	background-color: #CCEB6F;
}

.layout  {
	width: 100%;
}

.list  {
	padding: 0px;
	border: 0px solid #797868;
}

select  {
	font-family: "Lucide Grande", Arial, sans-serif;
	font-size: 11px;
	background-color: #D9DDDE;
}

.relationcontainer td  {
	padding: 3px;
	align: center;
	margin-left: 5px;
	border-top: 1px solid #D8D8D8;
	border: 0px;
	padding-right: 5px;
	margin: 0px;
}

.breadcrum td a  {
	color: #000;
}

#tabs  {
	margin-right: auto;
	margin-left: auto;
	margin: 0px;
}

.intro  {
	font-size: 11px;
	font-weight: bold;
}

#profile  {
	color: black;
	font-size: 11px;
	width: 500px;
	padding-top: 10px;
	border: 1px solid #ffffff;
	background-color: #eeeeee;
}

td  {
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 10px;
}

.relationcontainer  {
	width: 200px;
	margin-top: 10px;
	border: 1px solid #797868;
}

ol  {
	font-size: 11px;
	text-align: left;
}

.subnav td a  {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	color: black;
	font-size: 10px;
}

#tabs ul li  {
	display: inline;
	color: #3B3B3B;
	margin-bottom: 0;
	padding: 2px 15px 5px;
	margin-left: 0;
	border: 1px solid #ffffff;
	list-style: none;
	background-color: #cccccc;
}

.breadcrumbar  {
	width: 100%;
	height: 18px;
	background-color: #CCEB6F;
}

.list tr th  {
	color: #3B3B3B;
	font-size: 12px;
	padding: 3px;
	border: 1px solid #ffffff;
	background-color: #cccccc;
	margin: 0px;
}

.subnav td a:hover  {
	color: #797868;
}

h1, h2, h3, h4, h5, h6  {
	margin-bottom: 5px;
}

a:hover  {
	color: #444444;
	text-decoration: none;
}

b  {
	color: #003333;
	font-weight: bold;
}

p  {
	font-size: 11px;
	text-align: left;
	padding: 5px 0px 0px 0px;
	margin: 0px;
}

blockquote  {
	font-size: 12px;
	text-align: left;
	background: #EFEFEF;
}

.list tr .listpaging  {
	padding: 3px;
	background-color: #dddddd;
}

a:visited  {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

dt  {
	font-size: 14px;
	color: #66666;
	font-weight: bold;
	margin-left: 20px;
	text-decoration: underline;
}

.content  {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: #333;
}

h1  {
	color: #003333;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	padding-botom: 5px;
}

img  {
	border: 0px solid #000000;
}

