/**
  Editwizard cascading style sheet.

  @version  $Id: wizard.css,v 1.1 2008-08-06 16:17:13 michiel Exp $
*/
body,
table,
td,
input,
select,
option,
textarea,
code,
p {
  font-family: Arial, Helvetica, Verdana;
}

table.advancedform,
table.stepscontent,
table.body {
   border-width: 0px; 
   border-style: none;
   border-collapse: collapse;
}

table.formcontent {
   border-width: 1px; 
   border-style: solid;
   border-collapse: separate;
   width: 100%;
}

td.fieldprompt,
td.listprompt {
   text-align: right;
   text-transform: uppercase;
}

table.listcontent,
table.fieldcontent {
   border-width: 2px; 
   border-style: solid;
   border-collapse: separate;
}


div.buttonscontent  {         
   position: relative;
   bottom: auto;
} 

table.buttonscontent  {
   border-top-width: 0px;
}

a.bottombutton:link,
a.bottombutton:visited,
a.bottombutton:hover,
a.bottombutton:active  {
   font-size: 13px;
   cursor: pointer;
}
a.bottombutton-disabled:link,
a.bottombutton-disabled:visited,
a.bottombutton-disabled:hover,
a.bottombutton-disabled:active  {
   font-size: 13px;
   cursor: default;
}

a.step:link,
a.step:visited,
a.step:hover,
a.step:active  {
   font-size: 13px;
   cursor: pointer;
}
