
/**

  Editwizard cascading style sheet.
  You can override parts (cascading), by specifying an 'extrastyle' in your own 'base.xsl'.

  @version  $Id: login.css,v 1.1 2006-03-29 15:08:35 pierre Exp $
  
*/

@import url("base.css");

table.body {
 width: 80%;
 cell-spacing: 0;
}

