<?xml version="1.0" encoding="UTF-8" ?>
<aselectauthentication
    xmlns="http://www.mmbase.org/xmlns/aselect"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mmbase.org/xmlns/aselect http://www.mmbase.org/xmlns/aselectauthentication.xsd">
  
  <!--
    If you want to communicate to the aselect server by the agent, 
    then you must specify the agents' configuration file here (.conf for A-Select 1.3 or .xml for A-Select 1.4)

  <agent>/usr/local/A-SelectAgent/agent.xml</agent>	
  -->


  <!--
    The following three configuration items specify what is needed to know for 
    communication directly with an A-Select Server (so, without the agent).
  -->
  <protocol>raw</protocol>
  <aselect-server-id>aselectserver</aselect-server-id>
  <uri>http://localhost:8080/aselectserver/server</uri>

  <!--
    ASelect applications in order of preference. These will be returned by getAuthentication().getTypes().
    It can contain <application>string</application> and/or <server-config>path to aselect.xml</server-config> entries.

    
  -->
  <applications>
    <server-config>file:///usr/local/A-Select/aselectserver/conf/aselect.xml</server-config>
  </applications>

  <!--
    If logout must work, you need to place a logout.jsp on de aselect-server which will delete the ticket on that web-app
  -->

  <logouturi>https://michiel.omroep.nl/aselectserver/logout.jsp</logouturi>


</aselectauthentication>
