<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <!--
  Most SCAN pages do not work if your application context root is not /. But e.g. mmeditors were fixed to
  work in another context then this. You might need to indicate that here though (I tried tomcat 5, and it was
  necessary)

  -->
  <context-param>
    <param-name>mmbase.htmlrooturlpath</param-name>
    <param-value>/</param-value>
  </context-param>


  <!-- The base MMBase servlet informs about the current MMBase version -->
  <servlet>
    <servlet-name>version</servlet-name>
    <description>To get the version of MMBase</description>
    <servlet-class>org.mmbase.servlet.MMBaseServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- servdb, old servlet for downloading attachments, images, and xml files
  You should use the images and attachments servlets for downloading most data,
  and the dove servlet to retrieve a node as xml.
  However this info can also still be retrieved with servdb.
  Uncomment this code if you want to activate it. You also need to create
  mappings to use it. See example below.
  -->
  <servlet>
    <servlet-name>servdb</servlet-name>
    <display-name>Serdb Servlet</display-name>
    <description>needed for some binary-stuff, like images</description>
    <servlet-class>org.mmbase.servlet.servdb</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>


  <!-- servscan servlet, needed for parsing scan-pages
  Uncomment this code to activate SCAN. Also turn on servlet mapping below.
  You will first need to make the following SCAN modules active:
  scanparser,mmbase,mmedit,session,info,calc
  -->
  <servlet>
    <servlet-name>servscan</servlet-name>
    <display-name>Servscan Servlet</display-name>
    <description>Needed for parsing scan pages</description>
    <servlet-class>org.mmbase.servlet.servscan</servlet-class>
    <load-on-startup>6</load-on-startup>
  </servlet>

  <!-- mapping for version-request -->
  <servlet-mapping>
    <servlet-name>version</servlet-name>
    <url-pattern>/version</url-pattern>
  </servlet-mapping>


  <!-- mappings for to servdb
  Uncomment this code if you activate the servdb servlet.
  -->
  <servlet-mapping>
    <servlet-name>servdb</servlet-name>
    <url-pattern>/xml.db</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>servdb</servlet-name>
    <url-pattern>/img.db</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>servdb</servlet-name>
    <url-pattern>/attachment.db</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>servscan</servlet-name>
    <url-pattern>*.shtml</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <!-- index.jsp is the default -->
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.shtml</welcome-file>
  </welcome-file-list>

  <!-- mmbase-taglib, -->
  <taglib>
    <taglib-uri>http://www.mmbase.org/mmbase-taglib-1.0</taglib-uri>
    <taglib-location>/WEB-INF/lib/mmbase.jar</taglib-location>
  </taglib>

</web-app>
