body {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#footer, #header, #centerColumn, #leftColumn { 
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;

}
#header, #footer {
  text-align: center;
}
#header {
  height: 20px;
}

#centerColumn {
  padding: 0;
  margin: 0;
  margin-left: 150px;
  margin-right: 0px;
}
#leftColumn {
  position: absolute;
  width: 150px;
  margin: 0;
  padding: 0;
  font-size: small;
}
#leftColumn {
  left: 0;
}
#footer {
  display: none;          
  height: 40px;
  padding: 16px 0 0 0;
}

div.kupu .toolbar { 
  background-color: green;
 }
div.kupu-toolboxes {
  float: none;
  width: auto;
  margin: 0;
}

textarea.kupu-editor-textarea {
  height: auto;
  margin:0;
  padding:0;
}

textarea, input { 
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 0px;
  margin-top: 0px;
}

form { 
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 0px;
  margin-top: 0px;
}
option { 

}

#languageSelector 
{ 
  height: 18px;
  overflow: hidden;
  background-color: yellow;
  font-size: 5pt;
  top: 0;
  right: 5px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 2px;
  margin-bottom: 0px;
  margin-top: 0px;
   
}