@import url("layout.css");

body { 
}

a { 
  color: #ffa;
  text-decoration: none;
}

ul, ol { 
  padding-left: 18px;
  margin-left: 0px;
}
li { 
  margin-left: 0px;
 }
#leftColumnContent a:hover { 
  background-color: #76a2b6;
}

img { 
  border: 0;
}

#header, #leftColumn { 
  background-color: #527d94;
  color: #fff;
}


#nodefields a:hover { 
   background-color: #527d94;
}


#nodefields {   
  background-color: #76a2b6;
  overflow: hidden;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
} 


#nodefields td {
  vertical-align: top;
}
#nodefields p { 
  margin: 0px;
}
#nodefields input {
  user-input: enabled;
}



#tree { 
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
 
}
#tree ul { 
  list-style-type: none;          

 }

iframe { 
  background-color: red;
}

a.current  { 
  background-color:  #76a2b6;
}

#tree a.create {
  text-decoration: none;
}
		
#preview { 
  background-color: blue;
  margin: 0px;
}

#kupu { 
  background-color: yellow;
  z-index: 1;
}
#kupu-tb-buttons {
}

textarea#kupu-editor-textarea {
  display: block;
  background-color: white;
}

#kupu div.kupu-editorframe {
  background-color: #ccc;
}
#kupu div.kupu-toolboxes {
  background-color: green;
  float: none;
  width: auto;
}

#kupu-editor { 
  background-color: white;
}

#kupu-editor h1,h2,h3,h4,h5,h6,h7 { 
  color: red;
}

div.kupu-toolbox, div.kupu-toolbox-active { 
  position: absolute;
  width: 200px;
  right: 10px;
  display: block;
  background-color: #527d94;
}
div.kupu-toolbox-active { 
  background-color: #76a2b6;
}
div#kupu-toolbox-links { 
}
div#kupu-toolbox-images { 
  top: 250px;

}
div#kupu-toolbox-tables { 
  top: 500px;
  z-index: 100;

}
div#kupu-toolbox-debug { 
  top: 750px;
}

div#kupu-toolbox-addtable{ 

} 
img.icon { 
  margin-right: 0.5ex;
  border: 0px;
}

button.mmbase-logo {background-image: url("mmbase.png");}

