@import url("layout.css");

body { 
  padding: 0;
  margin: 0;
}

a { 
  color: white;
}
a:hover { 
  background-color: #9f3bff;
}

#header, #leftColumn { 
  background-color: #527d94;
  color: #fff;
  padding: 0px;
  margin: 0px;
}

#leftColumnContent { 
  padding: 0;
    margin: 0;
}


#node {   
    background-color: 76a2b6;
    overflow: auto;
    margin-top: 0px;
    margin: 0px;
    padding: 0;
    z-index:0;
} 


#node td {
  vertical-align: top;
}
#node input {
  user-input: enabled;
}



#tree { 
    overflow: auto;
    margin-top: 0px;
  margin: 0px;
  padding: 0;
 
}
#tree ul { 
  list-style-type: none;          

 }
#tree div.on a.turnon {

}
#tree div.off a.turnoff {

}
#tree a.create {
  text-decoration: none;
}
		
#preview { 
  background-color: blue;
  margin: 0px;
}

#kupu { 
  background-color: yellow;
  margin: 0px;
  z-index: 1;
}
#kupu-tb-buttons {

}

textarea#kupu-editor-textarea {
  background-color: green;
  margin: 0;
  padding: 0;
}

#kupu div.kupu-editorframe {
  background-color: green;
  margin: 0px
  margin-right: 0px;
  padding: 0px;
}
#kupu div.kupu-toolboxes {
  background-color: red;
  border: 0;
  padding: 0;
}

#kupu-editor { 
  background-color: blue;
  border: 0;
  margin: 0;
  margin-right: 0;
  padding: 0;
}
div#kupu-toolbox-links { 
  display: none;
}
div#kupu-toolbox-images { 
  display: none;
}
div#kupu-toolbox-debug { 
  display: none;
}
.kupu-fulleditor {
 padding: 0px;
  background-color: blue;
}
#toolbar {
 padding: 0px;
  background-color: yellow;
}

img.icon { 
  border: 0px;
}

button.mmbase-logo {background-image: url("mmbase.png");}

