<?xml version="1.0" encoding="UTF-8"?>

<beans default-autowire="byName"
       xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

   <bean name="cloudProviderBean" class="com.finalist.newsletter.cao.CloudProviderBean"/>
   <bean id="cloud" factory-bean="cloudProviderBean" factory-method="getCloud" lazy-init="true"/>

   <bean id="dbUnitTemplate" class="com.finalist.newsletter.DBUnitTemplate">
      <property name="dataSource">
         <ref bean="dataSource"/>
      </property>
   </bean>

   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
      <property name="driverClassName">
         <value>com.mysql.jdbc.Driver</value>
      </property>
      <property name="url">
         <value>jdbc:mysql://localhost:3306/cmsc?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;useServerPrepStmts=false</value>
      </property>
      <property name="username">
         <value>cmsc</value>
      </property>
      <property name="password">
         <value>cmsc</value>
      </property>
      <property name="maxActive">
         <value>10</value>
      </property>
      <property name="maxWait">
         <value>100</value>
      </property>
      <property name="maxIdle">
         <value>100</value>
      </property>
   </bean>

   <bean name="publicationCAO" class="com.finalist.newsletter.cao.impl.NewsletterPublicationCAOImpl"
         lazy-init="true">
      <property name="cloud" ref="cloud"/>
   </bean>
</beans>


      