/* The class of the table in which the entire calendar is shown */
/*.calendar {
  font-family: Arial, Tahoma, Verdana, sans-serif;
}*/

/* The class of the <th> element which contains the month name + year */

.calDay tr td {
    font-size: 10px;
}

.calHeader {
  text-align: center;
  text-decoration: bold;
}

.calMonth {
    font-size: 10px;
}

/* The class of the <td> elements that give the table some spacing on the
   left and right side */
.calDaySpacing {
  width: 8px;
}

/* The class of the <td> elements that contain the names of the days of
   the week */
.calWeekdayHeader {
  
}

/* Days that fall outside the current month */
.calDayNotThisMonth {
   cursor: pointer;
 color: #888888;
}

/* Days that fall inside the current month */
.calDayThisMonth {
  background-color: #ffffff;
   cursor: pointer;
 color: #444444;
}

/* Days that are highlighted (because events are happening), but they
   fall outside the current month */
.calDayNotThisMonthHighlight {
  background-color: #bb0000;
  color: #444444;
   cursor: pointer;

}

/* Days that are highlighed, and they fall inside the current month */
.calDayThisMonthHighlight {
  background-color: #ff0000;
  color: #000000;
   cursor: pointer;

}

/* Today */
.calToday {
  border: 1px solid black;
  cursor: pointer;
}


