.cal{
   BORDER-left: #000000 2px solid;BORDER-right: #000000 2px solid; BORDER-TOP: #000000 2px solid;BORDER-bottom: #000000 2px solid;
}
.calDay TR TD {
	FONT-SIZE: 10px; font-family:tahoma,verdana,arial; 
}
.calDayThisMonth {
	BORDER-RIGHT: #606060 1px dotted; BORDER-TOP: #606060 1px dotted; 
}
.calDayNotThisMonth {
	BORDER-RIGHT: #606060 1px dotted; BORDER-TOP: #606060 1px dotted; 
}
.calDayNotThisMonthHighlight {
	BORDER-RIGHT: #606060 1px dotted; BORDER-TOP: #606060 1px dotted;
}
.calDayToday {
	BORDER-RIGHT: #606060 1px dotted; BORDER-TOP: #606060 1px dotted; 
}
.calHeader {
	TEXT-ALIGN: center;; FONT-SIZE: 10px; font-family:tahoma,verdana,arial;
}
.calMonth {
	FONT-SIZE: 11px; font-family:tahoma,verdana,arial; BORDER-bottom: #000000 2px solid; text-transform: uppercase;
}
.calDaySpacing {
	WIDTH: 8px;BORDER-RIGHT: #606060 1px dotted; BORDER-TOP: #606060 1px dotted; 
}
.calWeekdayHeader {
	
}
.calWeek {
 FONT-SIZE: 10px; font-family:tahoma,verdana,arial; text-align: left; padding-left: 2px; padding-right: 5px;padding-bottom: 3px; padding-top: 3px; text-transform: uppercase;
	
}
.calDayNotThisMonth {
	CURSOR: pointer; COLOR: #888888
}
TD.calDayNotThisMonth:hover {
	COLOR: #444444; BACKGROUND-COLOR: #aaaaaa
}
.calDayThisMonth {
	CURSOR: pointer; COLOR: #444444; BACKGROUND-COLOR: #ffffff
}
TD.calDayThisMonth:hover {
	BACKGROUND-COLOR: #888888
}
.calDayNotThisMonthHighlight {
	CURSOR: pointer; COLOR: #444444; BACKGROUND-COLOR: #bb0000
}
TD.calDayNotThisMonthHighlight:hover {
	BACKGROUND-COLOR: #bb8888
}
.calDayThisMonthHighlight {
	CURSOR: pointer; COLOR: #000000; BACKGROUND-COLOR: #ff0000
}
TD.calDayThisMonthHighlight:hover {
	BACKGROUND-COLOR: #ff8888
}
.calToday {
	FONT-WEIGHT: bold; color: #191970 CURSOR: pointer; BORDER-bottom: #191970 1px solid;
}
calToday:hover {
 FONT-WEIGHT: bold; color: #D2691E CURSOR: pointer; BORDER-bottom: #D2691E 1px solid;
}
