/**

  Editwizard cascading style sheet.
  
  @author Nico Klasens
  @version  $Id: list.css,v 1.1 2008-08-06 16:41:47 michiel Exp $
*/

@import url("base.css");

tr.searchcanvas,
tr.listcanvas,
tr.pagescanvas,
tr.buttoncanvas,
tr.linkcanvas {
   border-color: #cccccc;
   background-color: #9DBDD8;
}

table.searchcontent,
table.listcontent {
	border-color: #4A7BA5;
	background-color: #9DBDD8;
}

tr.listheader {
	background-color: #4A7BA5;
	color: #FFFFFF;
}
		
.itemrow-hover {
	background-color: #BAD3E8;
}

/* if permission to edit is lacking, the row is 'disabled' */
.itemrow-disabled {
  color: #CCCCCC; 
}