body,td,a{color:#666699;font:11px Arial,Helvetica,sans-serif;text-decoration:none}
.poll-answer{color:#FFFFFF;font-size:12px;font-weight:bold;margin:5px 5px 2px 10px}
.poll-answer-description{color:#FFFFFF;font-size:12px;margin:5px 5px 2px 10px}
.poll-question{color:#000066;font-weight:bold;margin-left:15px;margin-right:15px}
