div.addressbar {
	position: absolute;
	width: 250px;
	background-color: white;
	border: 1px solid #888;
	margin: 0px;
	padding: 0px;
}

div.addressbar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

div.addressbar ul li.selected {
	background-color: #ffb;
}

div.addressbar ul li {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 2px;
}

span.informal {
	font-style: italic;
}