<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <description>
    The context-param 'richtext.home'  refers to setting in certain builder XML's shipped with the richtext examples.
    This is used to create cross-links.
    TODO: this problably will need to be done by the 'framework url mechanism', which is a current issue in the MMBase community.
  </description>
  
  <display-name>MMBase with richtext</display-name>

  <context-param>
    <param-name>richtext.home</param-name>
    <param-value>richtext/mynews/</param-value>
  </context-param>


</web-app>
