/* header */
#header
{	 
	background-image: url('../gfx/background_header.gif');
	background-repeat: repeat-x;
	height: 32px;
	width: 100%;
	float: left;		
	clear: both;
	color: #dee104;
	font-size: 11px;
	border-style: none none none solid;
	border-width: 1px;
	border-color: #ffffff;
	margin: 0 20px 2px 0px;
}

#header div.title
{
	float: left;
	position: relative;
	width: auto;
	float: left;
	color: #dee104;
	padding: 9px;
}

#header div.title_image
{
	float: left;
	position: relative;
	width: auto;
	float: left;
	color: #dee104;
	padding: 4px 4px 0px 6px;
}

#header div.userinfo
{
	background-image: url('../gfx/background_header_end.gif');
	background-repeat: no-repeat;
	background-position: right top;
	width: auto;
	min-width: 50px;	
	float: right;
	/*height: 32px;*/
	color: #c6cdcd;
	padding: 9px;
}

#header div.userinfo a
{
	color: #dee204;
	text-decoration: underline;
}

/* menu */
#menu
{
	display: block;
	background-color: #f4f633;
	border-style: none none none solid;
	border-width: 1px;
	border-color: #ffffff;
	font-size: 14px;
	float: left;
	height: 39px;
	width:100%;
	margin: 0 20px 2px 0px;
}

#menu ul
{
	color: #c6c963;
	margin: 12px;
	padding: 0;	
}

#menu ul li
{
	color: #c6c963;
	list-style-position: inside;
	list-style-type: none;
	float: left;
	padding-left: 15px;	
	margin-right: 12px;	
	background-image: url('../gfx/bullet_menu.gif');
	background-repeat: no-repeat;
	background-position: left center;
	letter-spacing: 2px;
}

#menu ul li a
{
	color: #313728;
	text-decoration: none;
}

#menu ul li a:hover
{
	text-decoration: underline;
}

#menu ul li.active
{
	color: #313728;	
	background-image: url('../gfx/bullet_menu_active.gif');
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration: underline;
}

#menu ul li.active a
{
	color: #313728;
	text-decoration: underline;
}