body {
  background-color: white;
  font-family: sans-serif;

}


div.searchneeded .searchresult.implicit {
  display: none;
}
div.nosearchneeded form.searchform {
  display: none;
}

body.search .searchresult.implicit {
  display: block;
}

div.list .ui-sortable>li {
  border: dashed 1px green;
}
div.list li {
  border: solid 1px #aaa;
  margin-bottom: 2px;
  background-color: #eee;
}


div.mm_tinymce li, #tinymce li {
  border: none !important;
  background-color: transparent !important;
}

.info {
  font-size: 30px;
}

.status img {
  height: 20px;
}

img.icon {
  border: none;
}
a.create img.icon {
  float: left;
}


div.list div.list {
  margin: 3px;
  margin-top: 8px;
  margin-left: 20px;
  border: solid 1px #aaa;
  background-color: #ddd;
}
div.list div.list.invalid {
  background-color: #ffd;
}
div.list div.list div.list {
  background-color: #aaa;
}
div.list div.list div.list.invalid {
  background-color: #ffa;

}

.searchable .searchform {
  border-bottom: none;
  background-color: #efe;
  border-color: #aaa;
  left: 0;
  right: 0;
  width: auto;
}
.searchresult table,
.searchresult table caption {
  border-color: #aaa;
}

.searchable .searchform legend {
  display: none;
}

.searchresult {
  left: 0;
  right: 0;
}
.searchresult table {
  width: 100%;
}

div.list h4 {
  margin-top: 0px;
  margin-bottom: 3px;
  border-bottom: dashed 1px white;
  padding-left: 2ex;
  right: 0;
  left: 0;
  background-color: #eee;
}

span.status {
  display: inline;
  height: 20px;
  left: 0;
  right: 0;
  white-space: nowrap
}
div.PROGRESS,
div.DONE  {
  background-color: #efe;
  left: 0;
  right: 0;
}


span.errors {
  margin-left: 1ex;
  font-weight: bold;
  color: #f00;
}


div.mm_field label,
div.mm_field textarea,
div.mm_field input,
div.mm_field span {
  vertical-align: top;
}

label {
  display: inline-block;
  width: 8ex;
}
span.mceEditor {
  display: inline-block;
}
input[type=text].mm_validate, textarea {
  width: 500px;
  display: inline-block;
}

div.mm_tinymce {
  margin: 0;
  width: 500px;
  display: inline-block;
  border: groove 1px black;
  background-color: white;
  overflow-y: hidden;
}

form.searchform fieldset {
  margin: 0;
  padding: 0;
}


.searchresult {
  font-size: smaller;
}


div.test {
  float: right;
  width: 30%;
  background-color: #eeb;
  border: solid 1px;
}


input.invalid {
  color: #a00;
  background-color: #fab;
}


div.mm_check_error {
  float: right;
  top: 0px;
  right: 0px;
  font-weight: bold;
  color: red;
}

a.toggle {
  display:block;
  width: 100%;
  background-color: #fff;
  border-bottom: solid 1px #999;
  cursor: pointer;
}