/* column1 */

#column1 {
	width: 700px;
	height: inherit;
	float: left;
	padding: 25px 20px 30px 42px;
	background: #fff;
}

#column1 .item {
	width: 457px;
	float: left;
	padding-left: 20px;
}

#column1 .photo {
	float: left;
	width: 220px;
}

/* column2 */

#column2 {
	width: 170px;
	height: inherit;
	float: left;
	padding-top: 25px;
	padding-bottom: 35px;
	padding-left: 20px;
	padding-right: 40px;
	background: #fff;
	color: #777777;
}