/* column1 */
#column1 
{
  width: 190px;
  height: inherit;
  float: left;
  padding: 67px 0 0 42px;
}

/* column2 */
#column2 
{
  width: 712px;
  float: left;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 40px;
}

/* column2a */
#column2a
{
  width: 520px;
  float: left;
}

#column2 .heading
{
  height: 67px;
}

#column2 .heading h2
{
  line-height: 0.9em;
  margin-bottom: auto;
  margin-top: 0px;
  /* letter-spacing: -0.05em; */
  color: #000;
  font-size: 2em;
  padding-top: 20px;
  font-weight: normal;
}

#column2b ul li
{
  padding-top: 3px;
  padding-bottom: 3px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #f0ede1;
}

/* column2b */
#column2b
{
  width: 170px;
  float: left;
  padding-top: 67px;
  padding-left: 20px;
}