#hiddennav
{
  display: none;
  visibility: hidden;
}

#background
{
  background-image: url('../gfx/bg_art.gif ');
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: top left; 
}

#main
{
  background: transparent url( '../gfx/footer_bg.gif' ) repeat-y scroll -14px top;
}

/* column1 */
#column1 
{
  width: 508px;
  height: inherit;
  float: left;
  padding: 25px 20px 30px 42px;
}

#column1 .item 
{
  float: left;
}

#column1 .photo 
{
  float: left;
  width: 220px;
}

/* column2 */

#column2 
{
  width: 150px;
  height: inherit;
  float: left;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  color: #777777;
}

/* column3 */
#column3 
{
  width: 170px;
  height: inherit;
  float: left;
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 32px;
}

#footer
{
  background: transparent url( '../gfx/footer_bg.gif' ) repeat-y scroll -14px top;
}
