/* 
 * disable most of the navigation and columns 
 * we don't want to see 
 */
#top_nav,
#top_img,
#menu,
#column1,
#column2,
#column3,
#breadcrumb,
#footer
{
  display: none;
}

/*
 * Redefine some other tags.
 */
body 
{
  background: white !important;
  text-align: left;
}

#holder
{
  margin: auto;
  width: auto;
}

#main
{
  width: auto;
}

/*
 * Make the div we want to print visible and set the width
 * to 100% of the page.
 */
#column1.print,
#column2.print,
#column3.print
{
  display: block;
  width: 100%;
}