@import url("/css/base.css");

.mainContent {
	top: 0em;
	}
	
	    /** for table   **/ 

.contentBody {
   top: 2em;
   height: 100%;
   width: 99%;
   left: 0.2em;
   right: 0em;
   padding: 0em;
   margin-left: auto;
   margin-right: auto;
}

	
.topRow {
	height: 55%; 
	width: 100%;
	top: 0em;
	left: 0em;
}

.bottomRow {
	height: 30%;
	width: 75%;
	top: 45%;
	left: 0%;
	position: absolute;
}

.leftHalfRow {
	margin-left:0em;
	margin-top:0em;
	font-weight: normal;
	color: #000000;
	height: 45%;
	width: 75%;
	top: 0%;
	left: 0%;
	position: absolute;
	z-order: 2;
	 }
	
.rightHalfRow {
	text-align: center;
	padding: 0em 0em 0em 0.2em;
	height: 75%;
	width: 24%;
	top: 0%;
	left: 75%;
	position: absolute;
	z-order: 1;
	 }
	 
    /** for size of content of part where documents are listed  **/ 

.filesContentBody {
   font-weight: normal;
   color: #000000;
   overflow: visible;
   top: 5.2em;
   left: 0em;
   right: 1.5em;
   position: absolute;
   z-index: 4;
   padding: 1em 1em 1em 1.5em;
   background-color: #ffffff;
   height: 50%;
   
    }
   
    /** for folders height **/  
   
.folders {
	top: 0em;
	height: 80%;
	

	 }
    /** for height in workspace component  **/ 
	 
.rowsinfolder{
   height: 100%;
	top: 0.1em;
	left: 0.1em;
	position: relative;
	width: 99%;
	 }
	 
	/** for link bar in workspace  **/
	 
.linkbar{
	font-weight: bold;
	color: #000000;
	height: 2.0em;
	right: 0em;
	left: 0em;
	padding: 0.3em 0em 0em 0.4em;
	background-color: #FF801A;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #888888 }
	
/** for content height in workspace when creating new folder **/

.contentBodywit {
   height: 10em;
}


.framemedia{
 height: 100%;
 width: 44%;top: 0;left:0;
 overflow: scroll;
 position:relative;
}

.framechat{
 position:relative;
 height: 100%;
 width: 55%;left:0;top:0;margin-right:0em;
 overflow: scroll;
}

.frameworkspace{
 position:relative;
 height: 100%;
 width: 100%;
 overflow: scroll;
 padding: 0em;
 margin-right:0em;
}