/* CSS Document */
table.centerData{
	width:100%;
}
table.centerData td {
   text-align: center;
}

a.sortup {
   text-decoration: none;
   background: url( ../gfx/icons/sort_up.gif ) no-repeat right !important;
   padding-right: 20px;
}

a.sortdown {
   text-decoration: none;
   background: url( ../gfx/icons/sort_down.gif ) no-repeat right !important;
   padding-right: 20px;
}

a {
   text-decoration: none;
}

.tip {
   position: relative;
   left: 5px;
   padding: 0px;
   align: center;
   width: 2px;
   height: 2px;
   overflow: left;
   vertical-align: middle;
}

.tip:hover {
   text-decoration: none;
   color: #000000;
   display: block;
}

.tip span {
   display: none;
   text-decoration: none;
   width: 1px;
   height: 1px;
   overflow: left;
}

.tip:visited {
   color: #000000;
   text-decoration: none;
}

.tip:hover #tip_info {
   display: block;
   border: 2px solid #5C5C5C;
   background: #FFFFFF;
   padding: 10px 10px;
   position: absolute;
   top: 10px;
   left: 15px;
   color: #000000;
   width: 600px;
   height: 300px;
   overflow: scroll;
}


