div.cmsc-form {
	font-size: 12px;
	padding: 5px;
}

.cmsc-form form label {
		width: 150px;
}

.cmsc-form form input,
.cmsc-form form textarea {
		width: 300px;
}

.cmsc-form form button {
	font-family: Arial, Verdana, Helvetica;
	background: transparent url(../gfx/button_side_block.gif) no-repeat right center;
	border: 0;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	padding: 2px;
	padding-right: 15px;
	text-align: left;
	color: #313728;
	margin-bottom: 1px;
}

.cmsc-form form .error {
	font-weight: bold;
	color: red;
}

ul.global-errors {
	padding: 5px 5px 5px 15px;
	font-weight: bold;
	color: red;
}

ul.global-messages {
	padding: 5px 5px 5px 15px;
	font-weight: bold;
	color: green;
}