/**

  Editwizard cascading style sheet.
  
  @author Nico Klasens
  @version  $Id: list.css,v 1.2 2004-01-20 18:00:51 michiel Exp $
*/

@import url("base.css");



tr.searchcanvas,
tr.listcanvas,
tr.pagescanvas,
tr.buttoncanvas,
tr.linkcanvas {
   border-color: #cccccc;
   background-color: #FFFFFF;
}

table.searchcontent,
table.listcontent {
/*	border-color: #000000; */
	background-color: #FFFFFF;
	color: #0000FF;
}

tr.listheader {
	color: #CCC;
/*	background-color: #CCC;
	color: #000000; */
}

tr.itemrow, 
tr.itemrow-hover, 
tr.itemrow td, 
tr.itemrow-hover td { 
   color:#18248C; 
}

		
.itemrow-hover {
/*	background-color: #CCC; */
}

/* if permission to edit is lacking, the row is 'disabled' */
.itemrow-disabled {
  color: #CCCCCC; 
}

.itemrow field { 
}

