@import url(../../style/css/mmbase.css);
@import url(style.css);

body { 
  background: white;
  color:      black;
}


img { 
  border: none;
}
div#you { 
  position: absolute;
}

div#navigate { 
  position: absolute;

}

p.current { 
  background-color: #ffb;
}

.group div { 
  background-color: #eee;
}

.environment p {
  background-color: #eee;
}
.environment .current { 
  background-color: #ccc;
}


table {
  background-color: #ccc;
} 

td { 
  background-color: #ddd;
}

tr.even td { 
  background-color: #eee;
}

tr.highlight td { 
  background-color: yellow;
}

tr.active td { 
  background-color: #ffb;
}

