body, html {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

div#title {
  width: 100%;
  background-color: yellow;
}

div#main {
  position: absolute;
  left: 0px;
}
div#relations {
  right: 0px;
  position: absolute;
  background-color: #bbb;
}

div#relations ul  {
  list-style-type: none;
  padding-left: 1ex;
  margin-top: 0px;
}

div#relations ul li {
  margin: 0;
}
div#relations ul li a.toggle {
  background-color: #ddd;
  display: block;
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0;
}
