/**

  Editwizard cascading style sheet.

  The following is used in searchlist.
  Search-lists are those things that pop-up if you want to search for a node to make a relation to.
  Here you can customize how they must look like.

  @version  $Id: searchlist.css,v 1.1 2008-08-06 16:41:47 michiel Exp $
  
*/ 

@import url("base.css");

body {         
        color: #062A4A;
        background-color: #9DBDD8;
} 

table.searchresult tr.even td  {         
        color: #000000;
        background-color: #9DBDD8 
} 

table.searchresult tr.odd td  {         
        color: #FFFFFF;
        background-color: #4A7BA5 
} 

table.searchresult tr.selected-even td  {         
        color: #FFFFFF;
        background-color: #275C89 
} 

table.searchresult tr.selected-odd td  {         
        color: #FFFFFF;
        background-color: #275C89 
} 

input.button  {         
        color: #FFFFFF;
        background-color: #4A7BA5;
        border-top-color: #FFFFFF;
        border-right-color: #000000;
        border-bottom-color: #000000;
        border-left-color: #FFFFFF;
}