<?xml version="1.0"?>

<module name="didactor" fullname="Didactor">
    <url href="http://theforge.ofbs.nl"/>

    <site hostname="berarc.theforge.ofbs.nl"
        remotedir="undefined"/>

    <cvs repository="sourceforge"
        host-prefix="theforge.ofbs.nl"
        dir="berarc"
        module="berarc"
        href="http://theforge.ofbs.nl/viewcvs.py/berarc/berarc/"/>

    <jars repository="maven" url="http://www.ibiblio.org/maven/"/>
      
    <description>
		BerichtenArchief Viewer
    </description>

    <detailed>
		BerichtenArchiefviewer voor CWI SONAR
    </detailed>

    <what>
        <goal>
        Deze applicatie laat berichten uit het berichtenarchief bekijken.
        </goal>
    </what>

    <why>
      Dit project is in opdracht van CWI uitgevoerd.
    </why>

    <vendor>Ordina</vendor>

    <licence legal="./legal">
             
    </licence>

    <credits>
        <credit>
        </credit>
    </credits>

    <project name="didactor" fullname="Berichtenarchief Viewer">

        <version major="0"
            minor="0"
            fix  ="1"
            tag="HEAD"/>

        <package>nl.ordina</package>

        <!-- Work dirs to be included in classpath  -->
        <work nested="build/classes"/>
        <home nested="build"/>

        <code type="java/plain" dir="src/java"/>
        <test type="test/junit" dir="src/test"/>
        <documentation type="xml/forrest" dir="src/documentation"/>          
    </project>   
</module>