/**
  Editwizard cascading style sheet.

  This is the style specific to 'wizard' pages.

  @version  $Id: wizard.css,v 1.1 2008-08-06 16:17:13 michiel Exp $
*/
@import url("base.css");

table.advancedform {
    background-color: #8C0000;
}

td.stepother {
  background-color: #CCC;
  border-color: #000000;
}

td.stepcurrent {
  border-color: #F0F0F0;
}

table.stepscontent {
	background-color: #000000;
	color: #FFFFFF;
}

div.buttonscontent {
	background-color: #FFFFFF;
	color: #000000;
}

table.buttonscontent  {
	border-color: #000000;
}

table.formcontent  {
	border-color: #8C0000;
}

table.listcontent,
table.fieldcontent {
	border-color: #8C0000;
}


tr.itemline  {
	background-color: #CCC;
}

td.fieldprompt {
   background-color: #FFF;
   color: #999;
}
td.field {
	background-color: #FFF;
}

span.notvalid {
	color: #CC0000;
}

span.valid { 
	color: #009900; 
}

table.listcontent {
	border-color: #CCC;
	background-color: #FFF;
	color: #000000;
}

td.listprompt {
	color:#000000;
}

tr.itemcanvas {
	background-color: #FFFFFF;
}

td.itemprefix  {
	background-color: #CCC;
}

table.itemrow {
	border-color: #000;
}

table.itemrow-hover {
	border-color: #000;
	background-color: #CCC;
}

table.fieldscontent  {
	border-color: #000;
}

a.step:link {  color:#FFF; }
a.step:visited {  color:#FFF; }
a.step:hover {  color: red; text-decoration:none;}
a.step:active {  color:#FFF; text-decoration:none; }

a.bottombutton:link {  color:#FFF; }
a.bottombutton:visited {  color:#FFF; }
a.bottombutton:hover {  color: red; text-decoration:none;}
a.bottombutton:active {  color:#FFF; text-decoration:none; }
