<html>
<head>
	<title>EditWizard samples</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	
	<script language="javascript">
		function openlist(el) {
			var href = el.getAttribute("href");
			var age = document.forms[0].elements["imageage"].value;
			href += "&age="+age;
			document.location=href;
			return false;
		}
	</script>
</head>
<body>
<form>
	<h1>Editwizard - samples</h1>

	<br />
	<a href="/editwizard/list.jsp?wizard=samples/people&nodepath=people&fields=firstname,lastname,owner">Person-Test</a><br/>
	<a href="/editwizard/list.jsp?wizard=samples/imageupload&nodepath=images&fields=title">Images</a><br/>
	<a href="/editwizard/list.jsp?wizard=samples/news&nodepath=news&fields=title,owner">News</a><br/>
</form>
</body>
</html>
