/**

  Editwizard cascading style sheet.

  The following is used in searchlist.
  Search-lists are those things that pop-up if you want to search for a node to make a relation to.
  Here you can customize how they must look like.

  @version  $Id: searchlist.css,v 1.2 2006-03-31 08:45:43 pierre Exp $

*/

@import url("base.css");

body {
        color: black;
        background-color: white;
}

table.searchresult tr.even td  {
        color: black;
        background-color: #DDDDDD;
}

table.searchresult tr.odd td  {
        color: black;
        background-color: #EEEEEE;
}

table.searchresult tr.even-disabled td  {
        color: gray;
        background-color: #DDDDDD;
}

table.searchresult tr.odd-disabled td  {
        color: gray;
        background-color: #EEEEEE;
}

table.searchresult tr.selected-even td  {
        color: white;
        background-color: black;
}

table.searchresult tr.selected-odd td  {
        color: white;
        background-color: #777777;
}

input.button  {
        color: black;
        background-color: buttonface;
        border-top-color: white;
        border-right-color: black;
        border-bottom-color: black;
        border-left-color: white;
}