html,body {
  background-color: #345;
  margin: 0px;
  padding: 0px;
}
.mm_calendar {
  background-color: white;
  color: black;
}

.mm_weektable {

}
.mm_calendar table.mm_weektable td {
}
.mm_calendar  table.mm_weektable {
  border: solid black 1px;
}

.mm_calendar h1 {
  white-space: nowrap;
}

.mm_calendar td {
  font-size: small;
  vertical-align: top;
}
.mm_calendar .day h1 {
  font-size: small;
}
.mm_calendar a {
  text-decoration: none;
  font-weight: bold;
  color: black;

}

table.mm_calendar  {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.mm_calendar col.weeknr.year {
  width: 2em;
}

.mm_calendar th.weeknr {
  background-color: #000;
  color: white;
  text-align: center;
}
.mm_calendar col.monthname,
.mm_calendar col.weeknr.month {
  width: 3em;

}
.mm_calendar thead  {
  background-color: #222;
  color: #fff;
}
.mm_calendar thead a {
  color: #fff;
}

.mm_calendar ul li a {
  white-space: nowrap;
}
.mm_calendar td, .mm_calendar th {
  overflow: hidden;
  text-overflow: ellipsis;
}
.mm_calendar td { 

}

.mm_calendar td {
  min-height: 50px;
  height: 50px;
}




/*
   default month colors
*/
.mm_calendar .January,
.mm_calendar .March,
.mm_calendar .May,
.mm_calendar .July,
.mm_calendar .September,
.mm_calendar .November {
  background-color: #ffd;
}
.mm_calendar .February,
.mm_calendar .April,
.mm_calendar .June,
.mm_calendar .August,
.mm_calendar .October,
.mm_calendar .December {
  background-color: #dfd;
}

.mm_calendar .other_month {
  background-color: #eee !important;
  color: white;

}
.mm_calendar .other_month a {
  color: white;
}

/* only works in safari..
.Monday, .Wednesday, .Friday, .Sunday {
  background: rgba(255, 255, 255, 0.2);
}
.mm_calendar .February, .April, .June, .August, .October, .December .Monday, .Wednesday, .Friday, .Sunday {
  background-color: #efe;
}
*/
}
.mm_calendar ul {
  margin-left: 0px;
  padding-left: 0px;
}
.mm_calendar li {
  list-style-type: none;
  margin-left: 0px;
}

.mm_calendar .monthname { 
  background-color: yellow;
}