<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl" xml:lang="nl">
<head>
   <title>layout</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen,projection,print" />
</head>
<body>
   <h1 class="hidden"></h1>
   <div id="holder">
	  <div id="top_img"></div>
	  <div id="menu"></div>
	  <div id="main">
	     <div id="breadcrumb"></div>
	     <div id="column1"></div>
         <div id="column2" class="print"></div>
         <div id="column3"></div>
      </div>
      <div id="footer"></div>
   </div>
</body>
</html>