.mm_c_progress {
  margin-left: 100px;
}

.mm_c_progress table {
  border-collapse: collapse;
  border-spacing: 0px;
}
.mm_c_progress table,
.mm_c_progress table td,
.mm_c_progress table th {
  border: #000 solid 1px;

}
