
/* general (also used in entrance page) */

body,
table,
td,
input,
select,
option,
textarea,
code,
p {
  font-family: Arial, Helvetica, Verdana;
}

body {
   color: #000;
   background-color: #8C0000;
}

p {
  color: #000;
}

code {
  color: #666;
}

table {
  color:#000;
}

table.body, table.body tr, table.body td {
  border-width:0px;
  border-style:none;
  border-collapse: collapse;
}


h1 {
   color:white;
}
td {
  color:#000;
}

tr { vertical-align : top }

td.left {
        width: 1%;
}

.head { font-weight:900; font-size:16px; letter-spacing:0em; }
.subhead { font-weight:900; font-size:14px; letter-spacing:0em; }
.input { color:#000; background-color:#efefef; font-size:10px; }

select.age  { color:#000; background-color:#efefef; font-size:10px;width: 80; }
select.searchpossibilities { color:#000; background-color:#efefef; font-size:10px;width: 125; }
.search { color:#000; background-color:#efefef; font-size:10px; width: 175; }

a { border:  none; }
a:link { font-weight:0;font-size:12px; color: #000; }
a:active { font-weight:0;font-size:12px; color: #000; }
a:visited { font-weight:0;font-size:12px; color: #000; }
a:hover { font-weight:0;font-size:12px; color: red; }

a.valid:link { font-weight:0;font-size:12px; color: #FFF; }
a.valid:active { font-weight:0;font-size:12px; color: #FFF; }
a.valid:visited { font-weight:0;font-size:12px; color: #FFF; }
a.valid:hover { font-weight:0;font-size:12px; color: red; }

a.pagenav:link { color: #000; }
a.pagenav:active { color: #000; }
a.pagenav:visited { color: #000; }
a.pagenav:hover	{ color: red; }

.step	{ color:#FFF; font-weight:0; font-size:11px; height:22px; font-weight:bold; }
a.step:visited {  color:#FFF; }
a.step:link {  color:#FFF; }
a.step:active {  color:#FFF; text-decoration:none; }
a.step:hover {  color: red; text-decoration:none;}

.bottombutton			{ font-weight:0; font-size:12px; color:#FFF;  }
.bottombutton-disabled		{ font-weight:0; font-size:12px; color:#FFF; }
a.bottombutton:link {  font-weight:0;font-size:12px; color: #FFF; }
a.bottombutton:active {  font-weight:0;font-size:12px; color: #FFF;  }
a.bottombutton:visited {  font-weight:0;font-size:12px; color: #FFF; }
a.bottombutton:hover {  font-weight:0;font-size:12px; color: red;  }
a.bottombutton-disabled:link {  font-weight:0;font-size:12px; color: red; }
a.bottombutton-disabled:active {  font-weight:0;font-size:12px; color: red; }
a.bottombutton-disabled:visited { font-weight:0;font-size:12px; color: red; }
a.bottombutton-disabled:hover { font-weight:0;font-size:12px; color: #FFF; }

li { color:#FFF;  }

.listcanvas li { color:#000;  }

/* wizard */

td.fieldprompt {
   background-color: #FFF;
   color: #999;
   text-align: right;
   text-transform: uppercase;
}

.itemlist .fieldprompt {
   text-transform: none;
}


td.field {
   background-color: #FFF;
   text-align: left;
   vertical-align: top;
   width: '100%';
   padding-left: 7px;
}

.titleprompt {
  color: #FFF;
  text-transform: uppercase;
}

.valid {
  color: #000;
}

p.valid {
  color: #FFF;
}

table.body tr.subtitle th {
  background-color: #AAA;
}

td.mysteps_top {
  color:#FFF;
  font-weight:0;
  font-size:11px;
  height:22px;
  font-weight:bold;
  background-color: #000;
}

td.mysteps_bottom {
  color: #FFF;
  width: 20%;
  vertical-align: bottom;
  background-color: #000;
}
td.mybuttons {
  background-color: #000;
}

/* for searchlist */

table.searchresult {
  background-color: #005;
}

table.searchresult tr.even td { background-color: #aaf; }
table.searchresult tr.odd  td { background-color: #bbf; }
table.searchresult tr.selected_even td { color: #FFF; background-color: #33B; }
table.searchresult tr.selected_odd  td { color: #FFF; background-color: #55A; }

/* for list */

.searchcanvas, .listcanvas {
   background-color: #FFF;
   border-color: #FFF;
   color: #000;
   vertical-align: top;
   font-size:11px;
}

td.listcanvas a { font-size:11px;}

.listcanvas .header {font-size:12px; color:#333333; font-weight:bold;}
.listcanvas a:link {color:#333333; font-size:11px;}
.listcanvas a:visited {color:#000000; font-size:11px;}
.listcanvas a:active {color:Green; font-size:11px; text-decoration:none;}
.listcanvas a:hover {color:Red; font-size:11px; text-decoration:none;}


td.itemrow {
   background-color: #FFF;
   padding-left: 7px;
}

tr.itemrow-hover td	{
   background-color: #FF0;
   text-decoration:none;
}

.gutter {background: #8c0000; color:#fff; font-size:11px; line-height:20px; font-weight:bold; }


