
/*   background="images/back.gif" text="#42BDAD" bgcolor="#00425B" link="#42BDAD" alink="#42BDAD" vlink="#42BDAD"> */
body.basic { background-image: url("../images/back.gif");
       background-color: white;
       background-repeat: repeat-y;
       margin-top: 1em;
       margin-left:4em;
       color: #42BDAD; }

body.navigationbar {
             background-color: #00425A;
             color: white;
}

a:link { color: white; }
a:visited { color: #42BDAD; }
a:active { color: yellow; }

table   { width : 93%; }

td { vertical-align : top;
     horizontal-align : left;	
     border-width: 1;		
}	

th {
   background-color: #42BDAD;
   color: black;
   font-weight:bold
}

textarea.small {
     height: 6em;
}
textarea.big   {
	 height: 15em;
}

.data {
     background-color: #00425A;
     color: #42BDAD;
}
.navigate {
    background-color: #42BDAD;
    color: #00425A;
}
.linkdata {
     background-color: #00425A;
     color: white;
     text-align: center
}
.multidata  {
     background-color: #00425A;
     color: #42BDAD;
     padding-top: 1em;
}

.currentmenuitem {
    font-family: arial, verdana, helvetica, geneva;
    font-size: medium;
    color: white;
    text-decoration: none
}
.menuitem {
    font-family: arial, verdana, helvetica, geneva;
    font-size: medium;
    color: #42BDAD;
    text-decoration: none
}


