.ctabletitle {
	clear:both;
	background-image: url(../gfx/dynamicforms/bg_table_title.gif);
	background-repeat: no-repeat;
	padding: 6px 7px 5px 7px;
	font-weight: bold;
}
div.ctable, div.cform {
	width: 450px;
	clear: both;
	padding: 2px;
	border: 1px solid #b6b6b6;
	margin-bottom: 14px;
}
.ctable table {width:450px;border: none;}
.ctable th {
	border: none;
	background-color: #ff0000;
	color: #ffffff;
	padding: 1px 7px 2px 5px;
	border-bottom: 2px solid #ffffff;
	background-image:url(../gfx/dynamicforms/dotline_table.gif);
	background-repeat: repeat-y;
}
.ctable td {
	border: none;
	padding: 5px 7px 5px 5px;
	background-image:url(../gfx/dynamicforms/dotline_table.gif);
	background-repeat: repeat-y;
}
.ctable td.right,.ctable th.right {text-align:right}
.ctable td.col1,.ctable th.col1 {background-image:none}
.ctable td.col2 {padding-left:30px;}
.ctable tr.roweven, .cform div.roweven {background-color: #ffffff;}
.ctable tr.rowodd {background-color: #eaeaea;}
.ctable tr.rowtotal td{background-color: #cccccc;border-bottom: white 1px solid;}
.ctable tr.rowend td{background-color: #fff;border-top: white 1px dotted;vertical-align:bottom;
	background-image:url(../gfx/dynamicforms/dotline_table.gif);
	background-repeat: repeat-x;

}

/* forms */
/* -------------------------------------------------------------------------- */
form {margin: 0px;}
input, textarea, select {font-family: Verdana;font-size: 100%; width: 100%}
input.checkbox, input.radio, input.submit { width: auto }
.cform table {width:436px;margin:7px}
.cform table.narrow {width:451px;margin:0px;}
.cform table table {width:412px;margin:0px}
.cform fieldset {
	border: none;
	background-color: #eaeaea;
	padding: 0px 0px 0px 0px;
	border-bottom: 2px solid #ffffff;
	margin: 0px;
}
.cform legend {
	font-weight: bold;
	background: url(../gfx/dynamicforms/bg_header.gif) repeat-x;
	border-bottom: 2px solid #ffffff;
	color: #ffffff;
	padding: 6px 0px 6px 0px;
	margin: 0px -7px 0px -7px;
	width: 394px;
	
}
legend span {display:block; margin:0px 7px;width:436px}
.cform fieldset.lastfieldset {border:none;padding-bottom:7px}
.cform div.spacer, .cform p {margin: 0px 7px; padding: 7px 0px; width: 380px;}
.cform div.spacer {padding-bottom: 0px}
.formhide {display: none;}
.cform td{padding: 2px 0px 5px 0px;}
td.slabel{padding:3px 0 0 0; }
.cform td.label{width: 151px;padding: 5px 7px 7px 0px;}
.cform td td.label{width: 127px;}
.cform td.field{width: 250px;}
.cform td.infobtn{width: 15px;padding: 4px 0px 0px 7px;}
.cform td.labelxl{width: 334px; vertical-align:middle}
.cform td.labelxs{width: 126px;padding: 2px 7px 7px 0px; vertical-align:middle}
.cform td.fieldxs{width: 24px; padding:0px;}
.cform td.right{text-align: right;}
/*
.cform td.marg1{border-left: white 1px solid; padding:5px 10px 5px 10px;}
.cform td.marg2{border-left: #ccc 1px dotted; border-right: #ccc 1px dotted; padding:5px 10px 5px 40px;}
.cform td.marg3{border-right: white 1px solid; padding:5px 10px 5px 10px;}
.cform td.marg4{padding:10px 10px 5px 40px; }*/

.w100pct {width:97%}
.w50pct {width:50%}
.w30pct {width:30%}
.w20pct {width:20%}
.w10pct {width:10%}

.cform tr.roweven {background-color: #ffffff;}
.cform tr.rowodd {background-color: #eaeaea;}
/* tooltips */
/* -------------------------------------------------------------------------- */
.tooltip {
	position: absolute; 
	display: none;
	z-index: 1000;
	left: 0px;
	top: 0px;
}
.tooltipbody {
	width: 167px;
	padding-top:1px;
	background-image: url(../gfx/dynamicforms/bg_tooltip_top.gif);
	background-repeat: no-repeat;
}
.tooltiptext {
	background-image: url(../gfx/dynamicforms/bg_tooltip_bottom.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding: 7px 7px 15px 7px;
}

.bigtooltip {
	position: absolute; 
	display: none;
	z-index: 1000;
	left: 0px;
	top: 0px;
}
.bigtooltipbody {
	width: 267px;
	padding-top:1px;
	background-image: url(../gfx/dynamicforms/bg_bigtooltip_top.gif);
	background-repeat: no-repeat;
}
.bigtooltiptext {
	background-image: url(../gfx/dynamicforms/bg_bigtooltip_bottom.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding: 7px 7px 15px 7px;
}


.redtext {color:#ff0000}
.greytext {color: #6c6c6c;}
.tablelink {
	display:block;
	padding:0px 0px 0px 14px;
	background-image: url(/gfx/dynamicforms/a_link.gif);
	background-repeat: no-repeat;
	background-position: 7px 4px;
}