/******************************************************************
 * TITLE: Didactor 2.0 stylesheet	(base.css)			          *
 * URL  : /css 													  *
 * MODIF: 2004-07-29			                                  *
 ******************************************************************/

/* DESCRIPTION:
 * This is the stylesheet for Didactor 2.0. 
 * All the menu-lines with navigation for the cockpit and following pages. 
 * It renders the mainpage-cockpit in three columns. 
 * + Other pages with a tree navigation/path on the left side and content on the right side.
*/

/* ###### Body Text ###### */

body {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 0.7em;	
	height: 100%;
	width: 100%;
	margin: 0em;
	overflow: auto;
	background-color: #FFFFFF;
	scrollbar-face-color: #FFA210; scrollbar-highlight-color: #FEE3C9;
	scrollbar-shadow-color: #EB7B0C; scrollbar-3dlight-color: #FDCFA2;
	scrollbar-arrow-color: #E7E7E7; scrollbar-track-color: #EEEEEE;
	scrollbar-darkshadow-color: #FDDFC1 }
	
h1 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.25em;
	color: #ED6F2C }

h2 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	color: #ED6F2C }

h3 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	color: #ED6F2C }

form    {margin: 0px;}

.folders a {
    text-decoration: none;
}

a {	
	color: #000000;
}

a.menubar:link {
	font-family: Tahoma, Arial, Verdana, sans-serif; 
	font-size: 1em; 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none }

a.menubar:visited { 
	font-family: Tahoma, Arial, Verdana, sans-serif; 
	font-size: 1em; 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none }

a.menubar:hover { 
	font-family: Tahoma, Arial, Verdana, sans-serif; 
	font-size: 1em; 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: underline }

a.menubar:active { 
	font-family: Tahoma, Arial, Verdana, sans-serif; 
	font-size: 1em; 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none }

.content {
	height: 100%;
	width: 100%;
	position: relative
}
	
table.font {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #000000;
	text-decoration: none }		

.learnenvironment {
        font-size: 1.3em;
}

.learnenvironment table, 
.learnenvironment td, 
.learnenvironment tr, 
.learnenvironment p {
    font-size: 1em;
}

 
 


/* ###### navigation-menu lines on the top of the screen ###### */

.applicationMenubarCockpit {
	text-align: right;
	padding: 0.5em 0.9em 0.8em 0em;
	background-image: url('../gfx/bg_top.gif'); 
	background-repeat: no-repeat;
	background-color: #F29E42;
	border-bottom: #FFFFFF 1px solid }
	
.applicationMenubar {
	text-align: right;
	padding: 0.5em 0.9em 0.8em 0em;
	background-image: url('../gfx/bg_top_logo.gif'); 
	background-repeat: no-repeat;
	background-color: #F29E42;
	border-bottom: #FFFFFF 1px solid }

.providerMenubar {
	font-weight: bold;
	color: #FFFFFF;
	height: 2em;
	padding: 0em 0em 0em 2.6em;
	background-color: #999999;
	border-bottom: #FFFFFF 1px solid }

.educationMenubarCockpit {
	font-weight: bold;
	color: #FFFFFF;
	height: 1.9em;
	padding: 0em 0em 0.2em 0em;
	background-color: #ED6F2C;
	border-bottom: #FFFFFF 1px solid }
	
table.pixellijn {
	width: 100%;
	height: 0.1em;
	vertical-align: bottom;
	padding: 0em 0em 0em 0em;
	background-color:#ED6F2C;
	border-bottom: #FFFFFF 1px solid }
	
/* ###### searchfield in menuline2 ###### */

input.search {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	width: 8.1em;
	height: 1.4em;
	padding: 0em 0em 0em 0em;
	background-color: #EAEAEA;
	border: #404040 1px solid }	
	
/* ###### start: educationMenubar, navigation + progress ###### */

.educationMenubar {
	font-weight: bold;
	color: #FFFFFF;
	height: 1.9em;
	position: relative;
	padding: 0em 0em 0.1em 0.5em;
	white-space: nowrap;
	background-color: #ED6F2C }

.educationMenubarNav {
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	height: 1.8em;
	top: 0em;
	left: 19.3em;
	position: absolute;
	padding: 0em 0em 0.1em 0.5em;
	white-space: nowrap;
	background-color: #ED6F2C }

.progress {
	text-align: left;
	height: 1.9em;
	position: absolute;
	padding: 0em 0em 0.1em 0.5em;
	white-space: nowrap;
	background-color: #ED6F2C }
	
.progressMeter {
	width: 8.8em;
	top: 0em;
	left: 7.1em;
	position: absolute;
	padding: 0.4em 0em 0em 0em;
	white-space: nowrap;
	display: inline;
	background-image: url('../gfx/background.gif'); 
	background-repeat: no-repeat;
	background-color: #ED6F2C }	

.menuItem {
	height: 16px;
	float: left;
	position: relative;
	display: inline;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.3em 0em 0em 0em }

.menuItemSearch {
	height: 16px;
	float: left;
	position: relative;
	display: inline;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.1em 0em 0em 0em }

.menuItemExtra {
	display: inline;
	float: right;
	white-space: nowrap;
	padding: 0em 0.9em 0em 0em }

.menuSeparator {
	background-image: url('../gfx/menuseperator.gif'); 
	background-repeat: no-repeat;
	height: 16px;
	width: 1px;
	margin: 0px;
	float: left;
	padding: 0.3em 1.5em 0.1em 0.5em }

.menuItemApplicationMenubar {
	height: 16px;
	position: relative;
	display: inline;
	white-space: nowrap;
	vertical-align: middle }

.menuSeperatorApplicationMenubar {
	background-image: url('../gfx/menuseperator.gif'); 
	background-repeat: no-repeat;
	height: 16px;
	width: 1px;
	display: inline;
	white-space: nowrap;
	margin: 0em 1em 0em 1em;
	padding: 0em 0.8em 0.1em 1em }

.spacer {
	background-image: url('../gfx/spacer.gif'); 
	height: 1px;
	width: 25px;
	margin: 0px;
	float: left }

/* ###### cockpit: 3 columns ###### */
	
.columns {
	height: 80%;
	width: 100%;
	position: absolute;
        top: 7.5em;
	background-color: #FFFFFF 
}
	
.columnLeft {
	width: 16.2em;
	height: 100%;
	top: 0em;
	left: 0.8em;
	position: absolute; 
	padding: 0em 0em 0em 0em;
	overflow: hidden;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC 
}

.columnMiddle {
	overflow: auto;
	font-size: 1.1em;
	color: #666666;
	height: 100%;
	left: 17em;
	right: 17em;
	position: absolute;
	padding: 1.2em 1.2em 0.8em 0.8em 
        
}


	
/* ###### Cockpit: boxes and titles in left and right column ###### */




div.ListTeachers {
	text-align: left;
	width: 100%;
	height: 12em;
  	padding: 0.5em 0.25em 0.5em 0.25em;
	overflow: auto;
	white-space: nowrap;
	background-color: #EEEEEE;
  	border-top: 1px solid #CCCCCC;
  	border-bottom: 1px solid #CCCCCC }

div.ListStudents {
	text-align: left;
	width: 100%;
	height: 24em;
  	padding: 0.5em 0.25em 0.5em 0.25em;
	overflow: auto;
	white-space: nowrap;
	background-color: #EEEEEE;
  	border-top: 1px solid #CCCCCC;
  	border-bottom: 1px solid #CCCCCC }
  		
a.users:link,
a.users:visited,
a.users:active  {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #000000;
	text-decoration : none }
	
a.users:hover {
	text-decoration : underline }

.titlefield {
	font-size: 1em;
	font-weight: bold;
	color: #000000;
	width: 16em;
	vertical-align: right;
	padding: 0.2em 0.5em 0.2em;
	background-color: #FFFFFF;
  	border-top: 6px solid #FF801A }
	
.titlefield2 {
	font-size: 1em;
	font-weight: bold;
	color: #000000;
	width: 16em;
	vertical-align: right;
	padding: 0.2em 0.5em 0.2em }

.rows {
	height: 100%;
	top: 0.1em;
	left: 0.1em;
	position: relative;
	border-top: 1px solid #888888;
  	border-left: 1px solid #888888;
	border-right: 2px solid #888888 }
	
/* ###### navigationbar - path ###### */

.navigationbar {
	font-weight: bold;
	color: #000000;
	height: 4.4em;
	right: 0em;
	left: 0em;
	position: absolute;
	padding: 0.3em 0em 0em 0.4em;
	background-color: #DDDDDD;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #888888 }
	
.titlebar {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #000000;
	height: 1.4em; 
	padding: 0em 0em 0em 0em }
	
.pathbar {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #000000;
	height: 1.4em }
	
.pathbar:hover {
	text-decoration : underline }
	
.stepNavigator {
	height: 1.4em;
	top: 0.1em;
	left: 0em;
	position: absolute }
	
a.path:link,
a.path:visited,
a.path:active  {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #000000;
	text-decoration : none;
	padding: 0em 0em 0em 0.4em }
	
a.path:hover {
	text-decoration : underline }
	 	 
/* ###### folders - header - tree ###### */	
	
.folders {
	top: 3em;
	z-index: 2;
	padding: 0em 0em 0em 0em;
	position: relative }
	
.folderHeader {
	font-weight: bold;
	color: #FFFFFF;
	text-indent: 0.6em;
	width: 100%;
	height: 2em;
	left: 0.1em;
	position: absolute; 
	padding: 0.4em 0em 0em 0em;
	z-index: 7;
	overflow: auto;
	background-color: #999999 }

.folderBody {
	font-weight: normal;
	color: #000000;
	width: 100%;
	height: 100%;
	top: 2em;
	position: relative;
	z-index: 8;
	background-color: #FFFFFF;
	padding: 0.5em 0em 0em 0.5em }
	
.folderLesBody {
	font-weight: normal;
	color: #000000;
	width: 100%;
	height: 100%;
	top: 2em;
	position: absolute;
	z-index: 8;
	background-color: #FFFFFF;
	padding: 0.5em 0em 0em 0em }

.folderCalendarBody {
	font-weight: normal;
	color: #000000;
	width: 100%;
	height: 100%;
	top: 2em;
	position: absolute;
	z-index: 8;
	background-color: #FFFFFF;
	padding: 0.5em 0.1em 0em 0.1em }
	
/* ###### treelevel ###### */

.lbLevel0 {
	heigth: 20px;
	padding: 0.2em 0em 0.2em 0em;
	background-color: #EE8628;
	BORDER-LEFT: #FFFFFF 1px solid;
	BORDER-RIGHT: #FFFFFF 1px solid;
	BORDER-TOP: #FFFFFF 1px solid }

.lbLevel1 {
	heigth: 20px;
	padding: 0.2em 0em 0.2em 0em;
	background-color: #F19E53;
	BORDER-LEFT: #FFFFFF 1px solid;
	BORDER-RIGHT: #FFFFFF 1px solid;
	BORDER-TOP: #FFFFFF 1px solid }

.lbLevel2 {
	heigth: 20px;
	padding: 0.2em 0em 0.2em 0em;
  	background-color: #F5B67E;
	BORDER-TOP: #FFFFFF 1px solid }

.lbLevel3 {
	heigth: 20px;
	padding: 0.2em 0em 0.2em 0em;
	background-color: #F8CFA9;
	BORDER-TOP: #FFFFFF 1px solid }

.lbLevel4 {
	heigth: 20px;
	padding: 0.2em 0em 0.2em 0em;
  	background-color: #FBE1C9;
	BORDER-TOP: #FFFFFF 1px solid }

.loLevel {
	heigth: 20px;
	padding: 0.2em 0em 0.2em 0em;
  	background-color: #FEEEE0;
	BORDER-TOP: #FFFFFF 1px solid }

a.treeNavigation:link,
a.treeNavigation:visited,
a.treeNavigation:active  {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	color: #000000;
	text-decoration: none }

a.treeNavigation:hover {
	 text-decoration: underline }	
		
/* ###### content - header ###### */

.mainContent {
	font-weight: bold;
	color: #000000;
	height: 100%;
	width: 80%;
	top: 2em;
	left: 20%;
	position: absolute; 
	z-index: 2;
	padding: 0em 0em 0em 0em;
	border-left: 1px solid #888888 }

.contentHeader {
   font-weight: bold;
   color: #FFFFFF;
   text-indent: 0.6em;
   height: 2em;
   width: 100%;
   left: 0em;
   right: 0em;
   position: absolute;
   z-index: 5;
   padding: 0.4em 0em 0em 0em;
   background-color: #FAB861;
   border-left: 0px solid #FFFFFF }

.contentSubHeader {
   font-weight: normal;
   color: #000000;
   text-indent: 0.6em;
   height: 3.2em;
   width: 100%;
   left: 0em;
   right: 0em;
   top: 2em;
   position: absolute;
   z-index: 6;
   padding: 0.5em 0em 0em 0em;
   background-color: #ffffff;
   border-left: 0px solid #888888 }

.contentBody {
   font-weight: normal;
   color: #000000;
   overflow: visible;
   top: 5.2em;
   height: 100%;
   left: 0em;
   right: 1.5em;
   position: absolute;
   z-index: 4;
   padding: 1em 1em 1em 1.5em;
   background-color: #ffffff;
   border-left: 0px solid #888888 }

.contentBodywit {
   font-weight: normal;
   color: #000000;
   overflow: visible;
   top: 5.2em;
   height: 50em;
   left: 0em;
   right: 1.5em;
   position: absolute;
   z-index: 4;
   padding: 1em 1em 1em 1.5em;
   background-color: #ffffff;
   border-left: 0px solid #888888 }

/* ###### input fields ###### */

input.forminput {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	width: 24em;
	height: 1.4em;
	padding: 0em 0em 0em 0em;
	background-color: #EAEAEA;
	border: #404040 1px solid }	

input.formbutton {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	height: 1.6em;
	padding: 0em 0.2em 0.2em 0.2em;
	background-color: #EAEAEA;
	border: #404040 1px solid }	
	
textarea.forminput { 
	font-family: arial, tahoma, verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	background-color: #EAEAEA;
	padding: 0em 0em 0em 0em;
	width: 24em;
	height: 8em;
	border: #404040 1px solid 
}

textarea { 
	font-family: arial, tahoma, verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	background-color: white;
	padding: 0em 0em 0em 0em;
	width: 24em;
	height: 8em;
} 	

input {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	padding: 0em 0em 0em 0em }	
	
option {  
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #000000;
	height: 0.8em;
	background-color: #EAEAEA }	

/* ###### button ###### */
   
.button1 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	width: 8em;
	margin: 1em 0 }
  
.button1 a {
	text-align: center;
	padding: 0em 0em 0em 0em;
	display: block }
  
.button1 a:link,
.button1 a:visited,
.button1 a:hover {
	color: #5A5D5A;
	text-decoration: none; 
	background-color: #F5F5F5 }
  
.button1 a:link,
.button1 a:visited {
	border-top: 1px solid #cecece;
	border-bottom: 2px solid #4a4a4a;
	border-left: 1px solid #cecece;
	border-right: 2px solid #4a4a4a }
  
.button1 a:hover {
	border-top: 2px solid #4a4a4a;
	border-bottom: 1px solid #cecece;
	border-left: 2px solid #4a4a4a;
	border-right: 1px solid #cecece }

/* ###### tabel structure in components ###### */

table.listTable {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #E7E7E7 }

th.listHeader, .listTable tr th {
	background: #ED6F2C;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	color : #000000;
	border: 2px solid #E7E7E7;
	font-size: 0.8em;
	font-weight : bold;
	padding-left : 7px;
	padding-top : 2px;
	padding-bottom : 2px }

td.listItem, .listTable tr td {
	background-color: #FFFFFF;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	color : #000000;
	border: 2px solid #E7E7E7;
	FONT-SIZE : 0.8em;
	padding-left : 7px;
	padding-top : 2px;
	padding-bottom : 2px }



/* ###### text in folderbody of the forumcomponent ###### */
  
a.forumlist:link {
	font-family: Arial, Tahoma, Verdana, sans-serif; 
	font-size: 0.8em; 
	font-weight: normal; 
	color: #000000; 
	text-decoration: none }

a.forumlist:visited {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	color: #000000;
	text-decoration: none }

a.forumlist:hover {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	color: #000000;
	text-decoration: underline }

a.forumlist:active {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	color: #000000;
	text-decoration: none }

/* ###### level division help component backgroundcolor ###### */

.subtable {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 0.8em;
	color : #000000;
	padding-left : 3px;
	padding-right : 3px;
	padding-top : 1px;
	padding-bottom : 1px;
	background: #f3f3f3 }


.hotspot, .selectedhotspot {
    font-size: 20px;
    font-weight: bold;
    display: block;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
    border-width: 2px;
    border-color: #808080;
}

.hotspot  {
   border-style: outset;
   background-color: black;
   color: white;
}

.selectedhotspot, .hotspot:hover  {
    color: black;
    background-color: white;
}

.selectedhotspot {
    border-style: inset;
}

.pagetable tr td {
    vertical-align: top;
}

.readonlytext {
    background-color: white;
    color: black;
    width: 95%;
    padding: 0.5em 1em 0.5em 1em;
}
div.ListLeft {
  	width: 104%;
  	 }

div.ListRight {
	width: 104%;
  	 }
/** <!-- FOR NEWS ITEMS ON LOGINPAGE  	--!> **/
div.ListRightHalf {
	text-align: left;
	width: 100%;
  	height: 12.2em;
  	padding: 0.5em 0.25em 0.5em 0.25em;
	overflow: auto;
	white-space: wrap;
	background-color: #EEEEEE;
  	border-top: 1px solid #CCCCCC;
  	border-bottom: 1px solid #CCCCCC }
