body {
  background-color: #fff;
  font-family : Verdana;
  font-size : 10px;
  color: #000000;
  margin: 0 0 0 0;
  scrollbar-face-color:#1C5BA2; 
  scrollbar-highlight-color:#D0CECE; 
  scrollbar-3dlight-color:#D0CECE; 
  scrollbar-darkshadow-color:#000000; 
  scrollbar-shadow-color:#fff; 
  scrollbar-arrow-color:#fff; 
  scrollbar-track-color:#BDC6D1;
  /*  overflow: auto; */
}

body.help { 
  margin: 5ex;
}

body.left {
  background-image: url(../images/bckplaceholder.png);
}

hr {
  color : #1C5BA2;
  /*	width: 10px; */
}

#colofon {
  position: absolute;
  left: 80%;
  top:  80%;
  width: 10%;
}



h1, h2, h3  {
  background-color: #fff;
  font-weight: bold;
  color: #1C5BA2;
  margin-top: 20px;
  text-align: left;
}

h1 { 
	font-size : 12px;
}

h2 { 
	font-size : 10px;
}

table.entrance {
    margin-top: 20px;
}


input {
	font-size:10px;
	color: #000000;
	font-weight:normal;
	background-color : #F0F2F5;
}

body.left input {
   background-color : #fff;
}



p.menu { 
  text-align: right;
  width: 100%;
}
p.menu .current { 
  background-color: yellow;
}

	
textarea {
  font-size:10px;
  color: #000000;
  font-weight:normal;
  background-color : #F0F2F5;
  }
input { 
  width: auto;
}

input.small { 
  width: 100%;
}
textarea.small { 
  width: 100%;
  height: 5ex;
}

span.realpositionitem  {
  width: 100%;
}

span.realpositionitem input.input {
   width: 15ex;
}

span.normal input.input {
   width: 100%;
}

span.realpositionitem input.check {
  margin-left: 1ex;
}

nobr input.input {
  width: 100px;
}

table {
 margin: 0px;
 border-width: 0px;
 border-spacing: 0px;
}


td {
  padding: 2;
  margin: 0;
  font-size : 10px;
  color: #000000;
  vertical-align: top;
  text-align: left;
}

tr.view td {
  border-style: solid;
  border-width: 1;
}


table.movie {
 margin: 2px;
 border: 0px;
 border-spacing: 0px;
}

table.movie td {
 border-spacing: 0px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  spacing: 0px;

}

button:hover {
  cursor: pointer;
}

a,button {
  font-size : 10px;
  color: #EE333E;
  border:  none;
  font-weight: bold;
  text-decoration: none;
}

a:link {
  font-size : 10px;
  color: #EE333E;
  border:  none;
  font-weight: bold;
  text-decoration: none;
}
a:active {
  font-size : 10px;
  color: #EE333E;
  border:  none;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  font-size : 10px;
  color: #1C5BA2;
  border:  none;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  font-size : 10px;
  color: #1C5BA2;
  border:  none;
  font-weight: bold;
  text-decoration: underline;
}


img { 
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

a.groupclick:link, a.groupclick:active, a.groupclick:visited, a.groupclick:hover  { 
  margin: 0 0 0 0;
  margin-right: auto;
  padding: 0 0 0 0;
  border-width: 2px;
  border-style: solid;
  border-color:  #EE333E;
  background-color: transparent;
  display: block;
  white-space: nowrap;
  width: auto;
}
a.groupclick:visited, a.groupclick:hover  { 
  border-color: #1C5BA2;
}

a.groupclick:link img, a.groupclick:active img, a.groupclick:visited img, a.groupclick:hover img { 
  border: none;
}

/* wizard */


div.editform  {   
  overflow: auto;

}
a.bottombutton:link {
	font-family : Verdana;
	font-size : 10px;
	color: #EE333E;
 	border:  none;
 	font-weight: bold;
 	text-decoration: none;
}
a.bottombutton:active {
	font-family : Verdana;
	font-size : 10px;
	color: #EE333E;
 	border:  none;
 	font-weight: bold;
 	text-decoration: none;
}
a.bottombutton:visited {
	font-family : Verdana;
	font-size : 10px;
	color: #1C5BA2;
 	border:  none;
 	font-weight: bold;
 	text-decoration: none;
}
a.bottombutton:hover {
	font-family : Verdana;
	font-size : 10px;
	color: #EE333E;
 	border:  none;
 	font-weight: bold;
 	text-decoration: underline;
}

a.bottombutton-cancel:link {
	font-family : Verdana;
	font-size : 10px;
	color: #EE333E;
 	border:  none;
 	font-weight: bold;
 	text-decoration: none;
}
a.bottombutton-cancel:active {
	font-family : Verdana;
	font-size : 10px;
	color: #EE333E;
 	border:  none;
 	font-weight: bold;
 	text-decoration: none;
}
a.bottombutton-cancel:visited {
	font-family : Verdana;
	font-size : 10px;
	color: #1C5BA2;
 	border:  none;
 	font-weight: bold;
 	text-decoration: none;
}
a.bottombutton-cancel:hover {
	font-family : Verdana;
	font-size : 10px;
	color: #EE333E;
 	border:  none;
 	font-weight: bold;
 	text-decoration: underline;
}

td.fieldprompt {
	font-size : 12px;
	color: #1C5BA2;
	background-color: #fff;
	border: 1;
	border-color: #1C5BA2;
	font-weight : bold;
}

.valid {
	font-size : 10px;
  	color: #000000;
}

table.body tr.subtitle th {
	font-size : 10px;
  	color: #fff;
  	background-color: #B83A41;
}


.subhead th {
	font-size : 10px;
  	color: #fff;
 	background-color: #4A5A6D;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
    
}

/* for searchlist */

table.searchresult {
  font-size : 10px;
  color: #fff;
  background-color: #BCBDBF;
}

table.searchresult tr.even td { background-color: #fff; }
table.searchresult tr.odd  td { background-color: #DEE5EC; }
table.searchresult tr.selected_even td { color: #fff; background-color: #ABB9C8; }
table.searchresult tr.selected_odd  td { color: #fff; background-color: #6E88A6; }


/* for list */


td.listcanvas {
   background-color: #fff;
   border-color: #1C5BA2;
}

tr.itemrow td {
   font-weight: bold;	
}

tr.itemrow-hover td	{
   background-color: #fff;
   text-decoration: none; 
   font-weight: bold;	
}


/* for security editors */
div#you {
   display: none;
}

