<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">
<web-app>

  <!--
    Example web.xml.
  -->

	<!-- MMBase servlets -->
	<servlet>
		<servlet-name>version</servlet-name>
		<description>MMBase version</description>
		<servlet-class>org.mmbase.servlet.MMBaseServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

  <!-- media project servlets  -->
	<servlet>
		<servlet-name>media-asf</servlet-name>
		<description>ASX's</description>
		<jsp-file>/templates/mediafragment.asf.jsp</jsp-file>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>media-rm</servlet-name>
		<description>RAM's</description>
		<jsp-file>/templates/mediafragment.rm.jsp</jsp-file>
		<load-on-startup>11</load-on-startup>
	</servlet>


  <!-- Media project servlet mappings -->
  <servlet-mapping>
    <servlet-name>media-asf</servlet-name>
    <url-pattern>/templates/media.asf</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>media-rm</servlet-name>
    <url-pattern>/templates/media.rm</url-pattern>
  </servlet-mapping>


</web-app>
