/*
 sets widhs of inputboxes, location of foot, and submit buttons

 */



body.basic table, body.basic p { 
  margin-left: 0%;
  width: 100%;
}


/* submit buttons */
.buttons {
    text-align: right
}


/* input boxes */
.small {
    width: 100%;
}

textarea {
  width: 100%;
}

textarea.small {
    height: 6em;
}
textarea.big {
    height: 15em;
}

input {
}

/* footers */

p.foot {
	margin-bottom: 0px;
	margin-top: 0px;
}
p.foot2 {
    margin-bottom: 0px;
   margin-top: 0px;
    float: right;
}
