
@import url(base.css);
body.basic { 
       background-color: white;

       margin-top: 1em;
       color: #42BDAD; 
}

body.navigationbar {
             background-color: #00425A;
             color: white;
}


a:link    { color: #42BDAD; }
a:visited { color: #42BDAD; }
a:active  { color: yellow; }
a:hover   { color: #32AD8D; }

span {
  align: right;
}

span.alt {
  display: none;
}

span.select {
  background: center url(../images/select.gif); /* makes it work in IE */
  width: 20px;
}

span.select:before {
  content: url(../images/select.gif); /* makes it work in Mozilla */
}

span.create {
  background: center url(../images/create.gif); /* makes it work in IE */
  width: 20px;
}

span.create:before {
  content: url(../images/create.gif); /* makes it work in Mozilla */
}

span.change {
  background: center url(../images/select.gif); /* makes it work in IE */
  width: 20px;
}

span.change:before {
  content: url(../images/select.gif); /* makes it work in Mozilla */
}

span.delete {
  background: center url(../images/delete.gif); /* makes it work in IE */
  width: 20px;
}

span.delete:before {
  content: url(../images/delete.gif); /* makes it work in Mozilla */
}

span.previous {
  background: center url(../images/previous.gif); /* makes it work in IE */
  width: 20px;
}

span.previous:before {
  content: url(../images/previous.gif); /* makes it work in Mozilla */
}

span.next {
  background: center url(../images/next.gif); /* makes it work in IE */
  width: 20px;
}

span.next:before {
  content: url(../images/next.gif); /* makes it work in Mozilla */
}



table   { 
		width : 100%; 
        float: center;
}


td {
    color: #42BDAD;
    vertical-align : top;
    horizontal-align : left;	
    border-width: 1;		
}	

table.list td {
     background-color: #00425A;
}
table.edit td {
     background-color: #00425A;
}
table.edit td.navigate {
   background-color: #42BDAD;
}
table.list td.navigate {
   background-color: #42BDAD;
}
th {
   background-color: #42BDAD;
   color: black;
   font-weight:bold
}

textarea.small {
     height: 6em;
}
textarea.big   {
	 height: 15em;
}

.data {
     background-color: #00425A;
     color: #42BDAD;
}
.navigate {
    text-align: right;
    background-color: #42BDAD;
    color: #00425A;
}

.edit {
     background-color: #00425A;
     color: white;
}
.search {
     background-color: white;
     color: black;
}

.linkdata {
     background-color: #00425A;
     color: white;
     text-align: center
}

.listdata {
     background-color: #00425A;
     color: #42BDAD;
     text-align: left
}

.multidata  {
     background-color: #00425A;
     color: #42BDAD;
     padding-top: 1em;
}

