/**

  Editwizard cascading style sheet.

  @author Nico Klasens
  @version  $Id: list.css,v 1.2 2006-11-15 17:08:30 mmeeuwissen Exp $
*/

@import url("base.css");



tr.searchcanvas,
tr.listcanvas,
tr.pagescanvas,
tr.buttoncanvas,
tr.linkcanvas {
   border-color: silver;
   background-color: white;
}

table.searchcontent,
table.listcontent {
  color: black;
}

tr.listheader {
  color: silver;
}

tr.itemrow,
tr.itemrow-hover,
tr.itemrow td,
tr.itemrow-hover td {
   color:#18248C;
}


.itemrow-hover {
}

/* if permission to edit is lacking, the row is 'disabled' */
.itemrow-disabled {
  color: silver;
}

.itemrow field {
}

