/******************************************************************
 * TITLE: Didactor 2.0 stylesheet	(base.css)			          *
 * URL  : /css 													  *
 * MODIF: 2004-07-29			                                  *
 ******************************************************************/

/* DESCRIPTION:
 * This is the stylesheet for Didactor 2.0. 
 * All the menu-lines with navigation for the cockpit and following pages. 
 * It renders the mainpage-cockpit in three columns. 
 * + Other pages with a tree navigation/path on the left side and content on the right side.
*/

.menuSeparator {
	background-image: url('../gfx/menuseperator.gif'); 
	background-repeat: no-repeat;
	height: 16px;
	width: 1px;
	margin: 0px;
	float: left;
	padding: 0.3em 1.5em 0.1em 0.5em }

.menuItem {
	height: 16px;
	float: left;
	position: relative;
	display: inline;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.3em 0em 0em 0em }

a {	
	color: #000000;
}

a.menubar:link {
	font-family: Tahoma, Arial, Verdana, sans-serif; 
	font-size: 1em; 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none }

a.menubar:visited { 
	font-family: Tahoma, Arial, Verdana, sans-serif; 
	font-size: 1em; 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none }

a.menubar:hover { 
	font-family: Tahoma, Arial, Verdana, sans-serif; 
	font-size: 1em; 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: underline }

a.menubar:active { 
	font-family: Tahoma, Arial, Verdana, sans-serif; 
	font-size: 1em; 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none }

/* ###### Body Text ###### */

.titlefield {
	font-size: 1em;
	font-weight: bold;
	color: #000000;
	width: 16em;
	vertical-align: right;
	padding: 0.2em 0.5em 0.2em;
	background-color: #FFFFFF;
  	border-top: 6px solid #FF801A }
	
.titlefield2 {
	font-size: 1em;
	font-weight: bold;
	color: #000000;
	width: 16em;
	vertical-align: right;
	padding: 0.2em 0.5em 0.2em }

.rows {
	height: 80%;
	top: 0.1em;
	left: 0.1em;
	position: relative;
	border-top: 1px solid #888888;
  	border-left: 1px solid #888888;
	border-right: 2px solid #888888 }
	

.navigationbar {
	font-weight: bold;
	color: #000000;
	height: 1.4em;
	right: 0em;
	left: 0em;
	padding: 0.3em 0em 0em 0.4em;
	background-color: #DDDDDD;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #888888 }
	
.titlebar {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #000000;
	height: 1.4em; 
	padding: 0em 0em 0em 0em }
	

.pathbar {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #000000;
	height: 1.4em }
	
.pathbar:hover {
	text-decoration : underline }
	
.stepNavigator {
	height: 1.4em;
	top: 0.1em;
	left: 0em;
	position: absolute }
 	 
/* ###### folders - header - tree ###### */	


.folders {
	top: 3em;
	z-index: 2;
	padding: 0em 0em 0em 0em;
	position: relative }
	
.folderHeader {
	font-weight: bold;
	color: #FFFFFF;
	text-indent: 0.6em;
	width: 100%;
	height: 2em;
	left: 0.1em;
	position: absolute; 
	padding: 0.4em 0em 0em 0em;
	z-index: 7;
	overflow: auto;
	background-color: #999999 }

.folderBody {
	font-weight: normal;
	color: #000000;
	width: 100%;
	height: 100%;
	top: 2em;
	position: relative;
	z-index: 8;
	background-color: #FFFFFF;
	padding: 0.5em 0em 0em 0.5em }
	
.folderLesBody {
	font-weight: normal;
	color: #000000;
	width: 100%;
	height: 100%;
	top: 2em;
	position: absolute;
	z-index: 8;
	background-color: #FFFFFF;
	padding: 0.5em 0em 0em 0em }

.folderCalendarBody {
	font-weight: normal;
	color: #000000;
	width: 100%;
	height: 100%;
	top: 2em;
	position: absolute;
	z-index: 8;
	background-color: #FFFFFF;
	padding: 0.5em 0.1em 0em 0.1em }
	
/* ###### treelevel ###### */

.lbLevel0 {
	heigth: 20px;
	padding: 0.2em 0em 0.2em 0em;
	background-color: #EE8628;
	BORDER-LEFT: #FFFFFF 1px solid;
	BORDER-RIGHT: #FFFFFF 1px solid;
	BORDER-TOP: #FFFFFF 1px solid }

.lbLevel1 {
	heigth: 20px;
	padding: 0.2em 0em 0.2em 0em;
	background-color: #F19E53;
	BORDER-LEFT: #FFFFFF 1px solid;
	BORDER-RIGHT: #FFFFFF 1px solid;
	BORDER-TOP: #FFFFFF 1px solid }

.lbLevel2 {
	heigth: 20px;
	padding: 0.2em 0em 0.2em 0em;
  	background-color: #F5B67E;
	BORDER-TOP: #FFFFFF 1px solid }

.lbLevel3 {
	heigth: 20px;
	padding: 0.2em 0em 0.2em 0em;
	background-color: #F8CFA9;
	BORDER-TOP: #FFFFFF 1px solid }

.lbLevel4 {
	heigth: 20px;
	padding: 0.2em 0em 0.2em 0em;
  	background-color: #FBE1C9;
	BORDER-TOP: #FFFFFF 1px solid }

.loLevel {
	heigth: 20px;
	padding: 0.2em 0em 0.2em 0em;
  	background-color: #FEEEE0;
	BORDER-TOP: #FFFFFF 1px solid }

a.treeNavigation:link,
a.treeNavigation:visited,
a.treeNavigation:active  {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	color: #000000;
	text-decoration: none }

a.treeNavigation:hover {
	 text-decoration: underline }	
		
div.ListLeft {
  	width: 104%;
  	 }

div.ListRight {
	width: 104%;
  	 }
/** <!-- FOR NEWS ITEMS ON LOGINPAGE  	--!> **/
div.ListRightHalf {
	text-align: left;
	width: 100%;
  	height: 12.2em;
  	padding: 0.5em 0.25em 0.5em 0.25em;
	overflow: auto;
	white-space: wrap;
	background-color: #EEEEEE;
  	border-top: 1px solid #CCCCCC;
  	border-bottom: 1px solid #CCCCCC }

h2 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	color: #ED6F2C }

h1 {
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 1.25em;
	color: #ED6F2C }
	