
/**

  Editwizard cascading style sheet.
  You can override parts (cascading), by specifying an 'extrastyle' in your own 'base.xsl'.

  @version  $Id: base.css,v 1.3 2002-07-18 12:13:17 michiel Exp $
  
*/


/* General appearance */

/* don't really like this... */
body,
td,
p,
div,
span,
input,
select,
option,
textarea { 
     font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; 
     font-size:13px; 
     letter-spacing:0.05em; 
     font-weight:400; 
     color:#000000; 
	 background-color: white;
     margin: 0;
}



/* what's this? */
i,textarea	{ padding-left:3; }



/* navigation tools */
.pagenav,
.pagenav-disabled,
.pagenav-current,
a.pagenav		{ 
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; 
    font-size: 8pt; 
	font-weight:900;
}
a.pagenav		{ 
	color: #18248C; 
    text-decoration:none;
}
a.pagenav:hover	{ 
    color: #18248C; 
    text-decoration:underline;
}



.imagebutton		{ cursor:pointer; cursor:hand; xpadding:0; xmargin:0 1 1 0; width:20; height:20; border-style:none; border-width:0; }
.imagebutton_down	{ cursor:pointer; cursor:hand; xpadding:0; xmargin:1 0 0 1; width:20; height:20; border-style:none; border-width:0; }

.superhead	{ font-family:Arial, Verdana, Arial, Helvetica, sans-serif; font-weight:900; font-size:20px; letter-spacing:0em; color:#000000; }

.head		{ font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-weight:900; font-size:16px; letter-spacing:0em; color:#000000; }
.subhead	{ font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-weight:900; font-size:14px; letter-spacing:0em; color:#000000; }

.valid		{ 
  font-weight:bold; 
  color:#009900; 
}
.notvalid	{ 
  font-weight:bold; 
  color:#CC0000;
}


.step		{ font-family:Arial, Verdana, Arial, Helvetica, sans-serif; font-weight:900; font-size:16px; letter-spacing:0em; color:#999999; cursor:hand; }
.divider	{ background-color:#CCCCCC; }
.listmeta	{ font-size:11px; color:#999999; }


.tooltip	{
		  background-color:#FFFF88;
		  border-style:solid; border-width:1; border-color:#000000;
		  padding:3;
		  position:absolute; top:0; left:0;
		  visibility:visible;
		  z-index:1001;
		  width:250;
		  font-size:11px;
		}
		

.currentstepicon-valid, .currentstepicon, .stepicon-valid, .stepicon, .step, .step-disabled
					{ cursor:pointer; cursor:hand; background-color:#FFFFFF; border-width:0; cursor:hand; font-family:Arial, Verdana, Arial, Helvetica, sans-serif; font-weight:900; font-size:16px; letter-spacing:0em; color:#18248C; }


.currentstepicon-valid		{ color:#009900; text-decoration:underline; } 
.currentstepicon			{ color:#CC0000; text-decoration:underline; }
.stepicon-valid			{ color:#009900; }
.stepicon				{ color:#CC0000; }
.step					{ font-weight:900; font-size:16px; cursor:pointer; cursor:hand; color:#18248C; }
.step-disabled			{ font-weight:900; font-size:16px; color:#CCCCCC; cursor:default;}

.bottombutton				{ font-weight:900; font-size:16px; cursor:pointer; cursor:hand; color:#18248C;  }
.bottombutton-disabled		{ font-weight:900; font-size:16px; color:#CCCCCC; cursor:default; }

.tableheader		{ color:#CCCCCC; font-weight:900; }
.itemrow, 
.itemrow-hover, .itemrow td, .itemrow-hover td
			{ cursor:pointer; cursor:hand; color:#18248C; }
.itemrow-hover td	{ text-decoration:underline;  }
.itemrow-disabled, .itemrow-disabled td  { font-weight: normal; text-decoration : none; color:#CCCCCC; cursor:default;}

.imageupload		{ padding:5px;}
