
/**

  Editwizard cascading style sheet.
  You can override parts (cascading), by specifying an 'extrastyle' in your own 'base.xsl'.

  This is the style specific to 'wizard' pages.

  @version  $Id: wizard.css,v 1.1 2002-07-18 09:14:47 michiel Exp $
  
*/

@import url("base.css");
@import url("wysiwyg.css");


table.body {
  width: 100%;
  padding:3;  
}


.searchframe { 
 /* 
    the size.
    Must correspond to height of div.searchresult and position of table.pagenav in searchlist.css
  */
	width:402; 
    height:302;
    background-color:#FFFFFF;
    z-index:3000;
}

div.searchframe {
  position:absolute; 
  top:0; 
  left:0; 
  visibility:hidden; 
  padding-bottom:20;
  
}

.valid		{ 
  font-weight:bold; 
  color:#009900; 
}
.notvalid	{ 
  font-weight:bold; 
  color:#CC0000;
}

.step		{ font-family:Arial, Verdana, Arial, Helvetica, sans-serif; font-weight:900; font-size:16px; letter-spacing:0em; color:#999999; cursor:hand; }
.divider	{ background-color:#CCCCCC; }
.listmeta	{ font-size:11px; color:#999999; }


.tooltip	{
		  background-color:#FFFF88;
		  border-style:solid; border-width:1; border-color:#000000;
		  padding:3;
		  position:absolute; top:0; left:0;
		  visibility:visible;
		  z-index:1001;
		  width:250;
		  font-size:11px;
		}
		

.currentstepicon-valid, .currentstepicon, .stepicon-valid, .stepicon, .step, .step-disabled
					{ cursor:pointer; cursor:hand; background-color:#FFFFFF; border-width:0; cursor:hand; font-family:Arial, Verdana, Arial, Helvetica, sans-serif; font-weight:900; font-size:16px; letter-spacing:0em; color:#18248C; }


.currentstepicon-valid		{ color:#009900; text-decoration:underline; } 
.currentstepicon			{ color:#CC0000; text-decoration:underline; }
.stepicon-valid			{ color:#009900; }
.stepicon				{ color:#CC0000; }
.step					{ font-weight:900; font-size:16px; cursor:pointer; cursor:hand; color:#18248C; }
.step-disabled			{ font-weight:900; font-size:16px; color:#CCCCCC; cursor:default;}

.bottombutton				{ font-weight:900; font-size:16px; cursor:pointer; cursor:hand; color:#18248C;  }
.bottombutton-disabled		{ font-weight:900; font-size:16px; color:#CCCCCC; cursor:default; }

.tableheader		{ color:#CCCCCC; font-weight:900; }
.itemrow, 
.itemrow-hover, .itemrow td, .itemrow-hover td
			{ cursor:pointer; cursor:hand; color:#18248C; }
.itemrow-hover td	{ text-decoration:underline;  }
.itemrow-disabled, .itemrow-disabled td  { font-weight: normal; text-decoration : none; color:#CCCCCC; cursor:default;}

.imageupload		{ padding:5px;}



table.body {
  width: 100%;
  padding:3;  
}

/**
 Input form entries of Wizard

 */

.input  { 
	width: 100%; 
    background-color: #EEE; 
}



/*
  In the wizard you can have lists, which are presented in a td of the 'body table'.
  */

td.listcanvas { 
   background-color:#fff; 
   border-style:solid; 
   border-width:3; border-color:#CCC; 
   padding:5; 
   width: 100%;
}

/* 
  The list itself is presented as a table too (two/three columns)
  left one is fieldpromt, right is field 
*/

td.fieldprompt {
  font-weight:bold; 
  text-align: left;
  width: 20%;
}

td.field {
   text-align: left;
   width: '100%';
}


/*
  How must an 'itemlist' in a wizard look like.
*/

table.itemlist {
  width: 100%;
  border-style: none;
  border-spacing: 0;
  border-color: black;
}
table.itemlist td {
  padding-left: 5;
}
/* 
   following is the trick to get a box around a set of tr-s 
   cannot give border to tr's itself :-(
*/

tbody.fieldset td {
  border-width: 1;
  border-right-style: solid;
}

tbody.fieldset td.fieldprompt {
  border-right: none;
  border-left-style: solid;
}

tbody.fieldset tr.first td {
 border-top-style: solid;
}

tbody.fieldset tr.last td {
 border-bottom-style: solid;
}

/*
 The tool to search an item for adition to the list
 */

table.itemadd {
 border: 0;
 cell-spacing: 0;
 cell-padding: 0; 
}

/*
 It can contain the following select entries:
*/

select.age                 {  width: 80;  }
select.searchpossibilities {  width: 125; }
select.search              {  width: 175; }