
/**

  Editwizard cascading style sheet.
  You can override parts (cascading), by specifying an 'extrastyle' in your own 'base.xsl'.

  @version  $Id: wysiwyg.css,v 1.4 2002-08-20 12:18:54 pierre Exp $
  
*/


table.wysiwyg {
  border: 0;
  cell-padding: 0;
  cellspacing: 0;
}