
/**

  Editwizard cascading style sheet.
  You can override parts (cascading), by specifying an 'extrastyle' in your own 'base.xsl'.

  @version  $Id: wysiwyg.css,v 1.1 2002-07-18 09:14:47 michiel Exp $
  
*/


table.wysiwyg {
  background-color: green;
  display: hidden;
  border: 0;
  cell-padding: 0;
  cellspacing: 0;
}