/**

  Editwizard cascading style sheet.
  You can override parts (cascading), by specifying an 'extrastyle' in your own 'base.xsl'.

  @version  $Id: wysiwyg.css,v 1.1 2003-12-19 11:09:32 nico Exp $
  
*/

table.wysiwyg {
	width: auto;
	border-width: 0px;
	border-style: solid;
	padding: 0px;
}

DIV.wysiwyg_editbar {
	position: absolute;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	visibility: hidden;
}

A.barbutton,
A.enabledbarbutton,
A.disabledbarbutton {
	display: block;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	width: 16px;
	height: 16px;
}

A.disabledbarbutton {
	filter: alpha(opacity=20);
}

DIV.separator {
	height: 12px;
	width: 1px;
	border-right-width: 1px;
	border-right-style: solid;
	margin: 0px 3px;
}

IFRAME.wysiwyg_textarea {
        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: normal;
        display: block;
}