
/* general (also used in entrance page) */

body {
   color: black;
   background-color: lightblue;
}

p {
  color: black;
}

table {
  color:black;
}

h1 {
   color:white;
}
td {
  color:black;
}

.head		{ 
			font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
			font-weight:900; font-size:16px; letter-spacing:0em;
			}
.subhead	{ font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-weight:900; font-size:14px; letter-spacing:0em; 


}


a {
 border:  none;
 font-weight: bold;
 text-decoration: none;

}

a:link {
 color: #0000ff;
}
a:active {
 color: #5050ff;
}
a:visited {
 color: #a000a0;
}
a:hover {
  color: red;
}

/* wizard */

td.fieldprompt {
   background-color: #aaa;
   color: #fff;
}

.valid {
  color: #fff;
}

.tableheader		{ color: #f00; font-weight:900; }
td.superhead { text-align: right; }

td.superhead:before { /* only works in newer browser (mozilla) */
  content: "--- "; 
}

/* for searchlist */

table.searchresult {
  background-color: #005;
}

table.searchresult tr.even td { background-color: #aaf; }
table.searchresult tr.odd  td { background-color: #bbf; }
table.searchresult tr.selected_even td { color: #fff; background-color: #33B; }
table.searchresult tr.selected_odd  td { color: #fff; background-color: #55A; }


/* for list */

td.listcanvas {
   background-color: white;
   border-color: #000;
}

tr.itemrow-hover td	{
   background-color: #ff0;
   text-decoration:none;  
}