<?xml version="1.0" encoding="UTF-8"?>

<beans default-autowire="byName"
       xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


   <!-- Cloud provider -->
   <bean name="cloudProviderBean" class="com.finalist.newsletter.cao.CloudProviderBean"/>
   <bean id="cloud" factory-bean="cloudProviderBean" factory-method="getCloud" lazy-init="true"/>

   <!-- Cloud Access Object -->
   <bean name="subscriptionCAO" class="com.finalist.newsletter.cao.impl.NewsletterSubscriptionCAOImpl" lazy-init="true">
      <property name="cloud" ref="cloud"/>
   </bean>


   <bean name="publicationCAO" class="com.finalist.newsletter.cao.impl.NewsletterPublicationCAOImpl"
         lazy-init="true">
      <property name="cloud" ref="cloud"/>
   </bean>
   <bean name="newsletterCAO" class="com.finalist.newsletter.cao.impl.NewsletterCAOImpl" lazy-init="true">
      <property name="cloud" ref="cloud"/>
   </bean>
   <bean name="statisticCAO" class="com.finalist.newsletter.cao.impl.NewsLetterStatisticCAOImpl" lazy-init="true">
      <property name="cloud" ref="cloud"/>
   </bean>
   <bean name="publisher" class="com.finalist.newsletter.publisher.NewsletterPublisher" lazy-init="true"/>
   <!-- Services -->
   <bean id="subscriptionServices"
         class="com.finalist.newsletter.services.impl.NewsletterSubscriptionServicesImpl" lazy-init="true">
      <property name="subscriptionCAO" ref="subscriptionCAO"/>
      <property name="newsletterCAO" ref="newsletterCAO"/>
      <property name="statisticCAO" ref="statisticCAO"/>
      <property name="newsletterService" ref="newsletterServices"/>
      <property name="personService" ref="personService"/>
      <property name="personHibernateService" ref="personHibernateService"/>      
   </bean>

   <bean id="newsletterServices"
         class="com.finalist.newsletter.services.impl.NewsletterServiceImpl" lazy-init="true">
      <property name="newsletterCAO" ref="newsletterCAO"/>
      <property name="subscriptionCAO" ref="subscriptionCAO"/>
   </bean>

   <bean id="publicationService"
         class="com.finalist.newsletter.services.impl.NewsletterPublicationServiceImpl" lazy-init="true">
      <property name="subscriptionCAO" ref="subscriptionCAO"/>
      <property name="publicationCAO" ref="publicationCAO"/>
      <property name="publisher" ref="publisher"/>
   </bean>
   <bean id="statisticService"
         class="com.finalist.newsletter.services.impl.StatisticServiceImpl" lazy-init="true">
      <property name="newsletterCAO" ref="newsletterCAO"/>
      <property name="statisticCAO" ref="statisticCAO"/>
   </bean>
   <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.dialect">${hibernate.dialect}</prop>
        <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
        <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
        <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
      </props>
    </property>
    <property name="annotatedClasses">
      <list>
        <value>com.finalist.cmsc.services.community.security.Authentication</value>
        <value>com.finalist.cmsc.services.community.security.Authority</value>
        <value>com.finalist.cmsc.services.community.security.Permission</value>
        <value>com.finalist.cmsc.services.community.person.Person</value>
        <value>com.finalist.cmsc.services.community.preferences.Preference</value>
      </list>
    </property>
  </bean>
   <bean id="personHibernateService" class="com.finalist.cmsc.services.community.person.PersonHibernateService"/>
</beans>
