.portalcontrols {
	position:fixed;
	top: 0px;
	left: opx;
	width: 150px;
	background-color: #ccc;
}

* html .portalcontrols {
	position:absolute;
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	width: 150px;
	background-color: #ccc;
}

.portlet-canvas {
	border: 1px dotted black;
}

.portlet-header-canvas {
	background-color: #ccc;
	width: 100%;
	text-align: right;
}

.portalcontrols select {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.05em;
  width: 100px;
}

.portalcontrols input {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-align: middle;
  letter-spacing: 0.05em;
  width: 50px;
}


.portlet-mode-type-admin {
}

.portlet-mode-type-edit {
}

.portlet-mode-type-view {
}

table.editcontent {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 2px 4px 2px 4px;
	text-align:	left;
	vertical-align:	top;
	border-width: 1px; 
	border-style: solid;
	width: 100%;
}

table.editcontent tr td input, 
table.editcontent tr td textarea, 
table.editcontent tr td select  {         
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.05em;
  width: 100%;
}

table.editcontent tr td input.button {
  width: 50%;
}

/**
  Header settings
*/
table.editcontent tr td h1,
table.editcontent tr td h2,
table.editcontent tr td h3,
table.editcontent tr td h4,
table.editcontent tr td h5,
table.editcontent tr td h6  {         
        padding-left: 3px;
        text-align: left;
        font-weight: bold; 
}
table.editcontent tr td h1 {
        font-size: 20px;
}
table.editcontent tr td h2 {
        font-size: 18px;
}
table.editcontent tr td h3 {
        font-size: 16px;
}
table.editcontent tr td h4 {
        font-size: 14px;
}
table.editcontent tr td h5 {
        font-size: 12px;
}
table.editcontent tr td h6 {
        font-size: 10px;
} 

table.editcontent tr td a {
  text-decoration: none;
  font-size: 11px;
  font-weight: normal;
}

/************************************************
* COLORS
************************************************/

table.editcontent tr td input,
table.editcontent tr td textarea,
table.editcontent tr td select {
	color: black;
}

table.editcontent {
	border-color: #CCCCCC;
	background-color: #FFFFFF;
}